.box-lr {
  overflow: hidden;
}

.box-lr .b-left {
  float: left;
  width: 420px;
}

.box-lr .b-right {
  float: right;
  width: 420px;
}

.els-txt {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.img-bk {
  display: block;
  width: 100%;
  height: 100%;
}

.cor-gray {
  color: #999 !important;
}

.cor-red {
  color: #fd665c !important;
}

.guide-wrap-d {
  background: #f1f1f1;
  padding: 20px;
}

.guide-wrap-d h2.guide-tit {
  font-size: 18px;
  margin-bottom: 15px;
}

.guide-wrap-d h3.guide-tit {
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.guide-wrap-d .guide-type {
  border: 1px dashed #bdbfc2;
  margin: 0 0 20px 0;
  padding: 10px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff;
}

.guide-wrap-d .tit-br {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

[class*='flex'] {
  overflow: hidden;
}

[class*='flex'] [class*='box'] {
  float: left;
}

[class*='flex'] [class*='fl-right'] {
  float: right;
}

[class*='inline-wrap'] [class*='inline-box'] {
  display: inline-block;
}

[class^='txt-info-vertical'] {
  vertical-align: middle;
}

[class^='txt-info-vertical']:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

[class^='txt-info-vertical'].inquiry {
  position: relative;
  height: 28px;
  padding-left: 40px;
}

[class^='txt-info-vertical'].inquiry:before {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28px;
  height: 26px;
  background: url("../images/sub/ico_inquiry.png") no-repeat 0 0;
  content: "";
}

[class^='txt-info-vertical'].inquiry-del {
  display: inline-block;
  position: relative;
  height: 28px;
  padding-left: 40px;
}

[class^='txt-info-vertical'].inquiry-del span {
  font-size: 24px;
}

[class^='txt-info-vertical'].inquiry-del:before {
  position: absolute;
  left: 0px;
  top: 4px;
  width: 28px;
  height: 26px;
  background: url("../images/sub/ico_inquiry.png") no-repeat 0 0;
  content: "";
}

.round-box {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 50px;
  height: 24px;
  line-height: 23px;
  padding: 0 5px;
}

.round-box.cor-red {
  border: 1px solid #fd665c;
}

.round-box.cor-blue {
  border: 1px solid #2666c6;
}

.notice-flex-info .info-box {
  width: 285px;
  margin-left: 102px;
}

.notice-flex-info .info-box:first-child {
  margin-left: 0px;
}

.notice-flex-info .info-box .tit {
  display: block;
  color: #222;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 23px;
  font-family: 'NotoKrR';
  letter-spacing: -0.02em;
}

.notice-flex-info .info-box .txt {
  color: #666;
  font-size: 16px;
  margin-bottom: 30px;
  font-family: 'NotoKrR';
}

.survey-flex-info .box-area {
  position: relative;
  width: 480px;
  padding: 24px 30px 30px;
  border-radius: 10px;
  margin-right: 20px;
}

.survey-flex-info .box-area:last-child {
  margin-right: 0px;
}

.survey-flex-info .box-area.bg01 {
  background-color: #e9eef0;
}

.survey-flex-info .box-area.bg02 {
  background-color: #f5f2ec;
}

.survey-flex-info .box-area.bg03 {
  background-color: #f5f6f9;
}

.survey-flex-info .box-area .tit {
  font-size: 24px;
  font-family: 'NotoKrB';
}

.survey-flex-info .box-area .txt {
  margin-top: 23px;
  font-size: 18px;
  font-family: 'NotoKrR';
}

.survey-flex-info .box-area .tnb {
  position: absolute;
  right: 30px;
  top: 30px;
}

.survey-flex-info .box-area .tnb .date {
  font-size: 14px;
  color: #999;
  font-family: 'NotoKrM';
}

.survey-flex-info .box-area .tnb p {
  margin-top: 13px;
  font-size: 18px;
  font-family: 'NotoKrR';
}

.survey-flex-info .box-area .survey-wrapper {
  margin: 37px -30px 0;
  padding: 0 30px;
  height: 120px;
}

.survey-flex-info .box-area .survey-wrapper .swiper-slide {
  width: 150px;
}

.survey-flex-info .box-area .survey-wrapper .swiper-slide img {
  width: 100%;
}

.survey-flex-info .box-area .survey-wrapper.down-vertion .swiper-slide {
  width: 160px;
  padding-right: 10px;
}

.product-flex-advantage {
  width: 980px;
}

.product-flex-advantage .ad-box {
  position: relative;
  text-align: center;
  width: 33%;
}

.product-flex-advantage .ad-box:before {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  content: "";
  background: #f5f6f9 url("../images/sub/bg_carlife.png") no-repeat 0 0;
}

.product-flex-advantage .ad-box.carlife-01:before {
  background-position: 0 0;
}

.product-flex-advantage .ad-box.carlife-02:before {
  background-position: -100px 0;
}

.product-flex-advantage .ad-box.carlife-03:before {
  background-position: -200px 0;
}

.product-flex-advantage .ad-box.carlife-04:before {
  background-position: 0 -100px;
}

.product-flex-advantage .ad-box.carlife-05:before {
  background-position: -100px -100px;
}

.product-flex-advantage .ad-box.carlife-06:before {
  background-position: -200px -100px;
}

.product-flex-advantage .ad-box.carlife-07:before {
  background-position: -300px -100px;
}

.product-flex-advantage .ad-box.carlife-08:before {
  background-position: 0 -200px;
}

.product-flex-advantage .ad-box.carlife-09:before {
  background-position: -100px -200px;
}

.product-flex-advantage .ad-box.carlife-10:before {
  background-position: -200px -200px;
}

.product-flex-advantage .ad-box.carlife-11:before {
  background-position: 0 -300px;
}

.product-flex-advantage .ad-box.carlife-12:before {
  background-position: -100px -300px;
}

.product-flex-advantage .ad-box.carlife-13:before {
  background-position: -200px -300px;
}

.product-flex-advantage .ad-box .img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50px;
}

.product-flex-advantage .ad-box .tit {
  margin-top: 20px;
  margin-bottom: 8px;
  display: block;
  font-size: 24px;
  font-family: 'NotoKrR';
  font-weight: 400;
}

.product-flex-advantage .ad-box .txt {
  font-size: 16px;
  font-family: 'NotoKrR';
}

.product-flex-advantage.wd25 .ad-box {
  width: 25%;
}

.by-selling {
  width: 100%;
  max-width: 1480px;
  padding: 60px 0;
  border-top: 1px solid #ddd;
}

.by-selling .tit {
  font-size: 24px;
  font-family: 'NotoKrD';
}

.by-selling .sel-content {
  margin-top: 20px;
}

.by-selling .sel-content .total-sel {
  margin-bottom: 25px;
}

.by-selling .sel-content .total-sel > a {
  margin-left: 5px;
}

.by-selling .sel-content .total-sel .cor-blue {
  font-size: 30px;
  vertical-align: middle;
}

.by-selling .sel-content .total-sel .btn-notice {
  vertical-align: middle;
  margin-left: 10px;
}

.by-selling .sel-content .total-sel .current-txt {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  font-size: 18px;
}

.by-selling .sel-content .detail-sel {
  margin-bottom: 5px;
}

.by-selling .sel-content .detail-sel dt {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.by-selling .sel-content .detail-sel dd {
  display: inline-block;
  vertical-align: middle;
}

.by-selling .sel-content .detail-sel dd .round-box {
  vertical-align: middle;
  margin-right: 10px;
}

.by-selling .sel-content .detail-sel dd strong {
  vertical-align: middle;
  font-size: 24px;
}

.by-selling .pedict-wrap .detail-sel {
  margin-bottom: 10px;
}

.by-selling .pedict-wrap .detail-sel dt {
  width: 155px;
}

.by-selling .pedict-wrap .detail-sel dd {
  text-align: right;
}

.grap-wrap .line-charts {
  width: 680px;
  height: 190px;
}

.grap-wrap .txt {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
}

.quotation-estimate {
  overflow: hidden;
  width: 100%;
  max-width: 1280px;
}

.quotation-estimate .sel-content {
  float: left;
}

.quotation-estimate .grap-wrap {
  float: right;
}

.basic-inspection {
  width: 100%;
  max-width: 1480px;
  border-top: 1px solid #ddd;
  padding: 60px 0px;
}

.basic-inspection .tit {
  font-size: 24px;
  font-family: 'NotoKrD';
}

.basic-inspection .lord-sum {
  padding-right: 100px;
  text-align: right;
}

.basic-inspection .lord-sum .txt {
  font-size: 18px;
}

.basic-inspection .lord-sum strong {
  display: inline-block;
  margin-left: 40px;
  font-size: 36px;
  font-family: 'NotoKrR';
}

.basic-inspection .info-txt {
  padding-right: 100px;
  text-align: right;
  color: #999;
}

.sw-inspection {
  width: 1440px;
  position: relative;
  padding: 0 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sw-inspection.down-vertion {
  height: 200px;
  padding: 0 95px;
}

.sw-inspection.down-vertion .swiper-wrapper {
  width: 140% !important;
  margin-right: -20px;
}

.sw-inspection.down-vertion .swiper-slide {
  width: 180px !important;
  padding-right: 20px !important;
}

.sw-inspection .swiper-wrapper {
  padding: 15px 0;
}

.sw-inspection .swiper-button-next {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -22px;
  cursor: pointer;
  width: 34px;
  height: 34px;
  background-image: url("../images/sub/swiper-next-active.png");
  background-size: 34px auto;
}

.sw-inspection .swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -22px;
  cursor: pointer;
  width: 34px;
  height: 34px;
  background-image: url("../images/sub/swiper-prev-active.png");
  background-size: 34px auto;
}

.sw-inspection .check-bullet {
  position: absolute;
  top: -15px;
  left: 45px;
  padding-left: 32px;
  padding-right: 15px;
  height: 30px;
  line-height: 28px;
  text-align: left;
  background-color: #fd665c;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
}

.sw-inspection .check-bullet:before {
  position: absolute;
  left: 7px;
  top: 5px;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/sub/ico_exclamation_mark.png") no-repeat 0 0;
  content: "";
}

.sw-inspection .swiper-slide {
  width: 180px !important;
  height: 180px !important;
}

.sw-inspection .swiper-slide .box {
  width: 180px;
  height: 180px !important;
  position: relative;
  border-radius: 5px;
  background-color: #2666c6;
  text-align: center;
  padding-top: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sw-inspection .swiper-slide .box strong {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-size: 18px;
}

.sw-inspection .swiper-slide .box p {
  color: #fff;
  font-size: 16px;
}

.recommended-list {
  border-top: 1px solid #ddd;
  padding: 60px 0;
  width: 100%;
  max-width: 1480px;
}

.recommended-list .tit {
  font-size: 24px;
  font-family: 'NotoKrD';
  margin-bottom: 30px;
}

.recommended-list ul li {
  position: relative;
  display: inline-block;
  height: 65px;
  padding-left: 75px;
  padding-top: 10px;
  margin-right: 115px;
}

.recommended-list ul li .img {
  position: absolute;
  left: 0px;
  top: 0px;
}

.recommended-list ul li > strong {
  display: block;
  margin-bottom: 2px;
  font-size: 18px;
}

.recommended-list ul li .pay {
  overflow: hidden;
}

.recommended-list ul li .pay > strong {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
}

.recommended-list ul li .pay span {
  color: #999;
  font-size: 18px;
}

.recommended-list ul li:last-child {
  margin-right: 0px;
}

.driving-distance {
  border-top: 1px solid #ddd;
  padding: 60px 0;
  width: 100%;
  max-width: 1480px;
}

.driving-distance .driving-tit .tit {
  display: inline-block;
  font-size: 24px;
  font-family: 'NotoKrD';
  vertical-align: middle;
}

.driving-distance .driving-tit .txt {
  display: inline-block;
  color: #666;
  margin-left: 30px;
  vertical-align: middle;
}

.driving-distance .grap-driving-wrap {
  overflow: hidden;
}

.driving-distance .grap-driving-wrap .driving-graph {
  float: left;
  width: 780px;
  position: relative;
  margin-top: 25px;
  margin-right: 30px;
}

.driving-distance .grap-driving-wrap .driving-graph .bar {
  position: relative;
  height: 160px;
  overflow: hidden;
}

.driving-distance .grap-driving-wrap .driving-graph .bar.eco {
  width: 35%;
}

.driving-distance .grap-driving-wrap .driving-graph .bar.eco:after {
  background: #9cd5c2;
}

.driving-distance .grap-driving-wrap .driving-graph .bar.normal {
  width: 60%;
}

.driving-distance .grap-driving-wrap .driving-graph .bar.normal:after {
  background: url("../images/sub/bg_driving.png") no-repeat 0 0;
}

.driving-distance .grap-driving-wrap .driving-graph .bar.normal > .ico-car {
  left: auto;
  right: 10px;
}

.driving-distance .grap-driving-wrap .driving-graph .bar.h {
  width: 100%;
}

.driving-distance .grap-driving-wrap .driving-graph .bar.h:after {
  background: url("../images/sub/bg_driving.png") no-repeat 0 0;
}

.driving-distance .grap-driving-wrap .driving-graph .bar.h > .ico-car {
  left: auto;
  right: 10px;
}

.driving-distance .grap-driving-wrap .driving-graph .bar > .km {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
  font-weight: 600;
  z-index: 1;
  font-size: 24px;
  font-family: '';
}

.driving-distance .grap-driving-wrap .driving-graph .bar > .ico-car {
  position: absolute;
  bottom: 0px;
  left: 10px;
  display: block;
  width: 94px;
  height: 40px;
  z-index: 1;
  background: url("../images/sub/ico_driver_car.png") no-repeat 0 0;
  background-size: 100% auto;
}

.driving-distance .grap-driving-wrap .driving-graph .bar:after {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 160px;
  width: 100%;
  z-index: 0;
  white-space: nowrap;
  content: "";
}

.driving-distance .grap-driving-wrap .driving-graph:after {
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #9cd5c2;
  background: -webkit-gradient(linear, left top, right top, from(#9cd5c2), color-stop(50%, #b1bdac), to(#fb685e));
  background: -webkit-linear-gradient(left, #9cd5c2 0%, #b1bdac 50%, #fb685e 100%);
  background: -o-linear-gradient(left, #9cd5c2 0%, #b1bdac 50%, #fb685e 100%);
  background: linear-gradient(90deg, #9cd5c2 0%, #b1bdac 50%, #fb685e 100%);
  content: "";
}

.driving-distance .grap-driving-wrap .top-info {
  padding-top: 35px;
  float: left;
}

.driving-distance .grap-driving-wrap .top-info .type {
  display: block;
  font-size: 16px;
}

.driving-distance .grap-driving-wrap .top-info .type span {
  display: block;
  font-size: 26px;
}

.driving-distance .grap-driving-wrap .top-info .type.eco {
  color: #9cd5c2;
}

.driving-distance .grap-driving-wrap .top-info .type.eco span {
  color: #9cd5c2;
}

.driving-distance .grap-driving-wrap .top-info .type.normal {
  color: #a6b5c7;
}

.driving-distance .grap-driving-wrap .top-info .type.normal span {
  color: #a6b5c7;
}

.driving-distance .grap-driving-wrap .top-info .type.h {
  color: #ff6666;
}

.driving-distance .grap-driving-wrap .top-info .type.h span {
  color: #ff6666;
}

.driving-distance .grap-driving-wrap .top-info .average {
  display: block;
  font-size: 16px;
  margin-bottom: 40px;
}

.driving-distance .grap-driving-wrap .top-info .average span {
  display: block;
  font-size: 26px;
}

.driving-distance .grap-driving-wrap .top-info .average span em {
  font-weight: 700;
  font-size: 26px;
}

.driving-distance .parking-find {
  float: left;
  padding-top: 172px;
  margin-left: 170px;
}

.driving-distance .parking-find > a {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  color: #2666c6;
  text-decoration: none;
  margin-right: 30px;
}

.driving-distance .parking-find > a:after {
  position: absolute;
  right: 0px;
  top: 4px;
  width: 6px;
  height: 12px;
  background: url("../images/sub/ico_driving_arr.png") no-repeat 0 0;
  content: "";
}

.driving-distance .parking-find > a:last-child {
  margin-right: 0px;
}

.qustions-area {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 60px 0;
}

.qustions-area .in-article {
  background: url("../images/sub/ico_qustion.png") no-repeat 0 0;
  padding-left: 55px;
}

.qustions-area .in-article .txt {
  margin-bottom: 25px;
  font-size: 16px;
  color: #222;
}

.qustions-area .in-article .file-flex-list dt {
  margin-right: 45px;
  font-size: 16px;
}

.qustions-area .in-article .file {
  background: url("../images/sub/ico_clip.png") no-repeat 0 2px;
  display: inline-block;
  padding-left: 20px;
  color: #2666c6;
  margin-bottom: 5px;
}

.answer-area {
  border-bottom: 1px solid #ddd;
  padding: 60px 0;
}

.answer-area .in-article {
  background: url("../images/sub/ico_answer.png") no-repeat 0 0;
  padding-left: 55px;
}

.answer-area .in-article .date-txt {
  color: #999;
  display: block;
  margin-bottom: 25px;
}

.answer-area .in-article .txt {
  font-size: 16px;
}

.member-status {
  width: 980px;
  padding: 60px;
  border-radius: 15px;
  border: 1px solid #ddd;
}

.flex-status {
  position: relative;
}

.flex-status:before {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #ddd;
  content: "";
}

.flex-status .member-box {
  position: relative;
  width: 50%;
  padding-left: 60px;
}

.flex-status .member-box .tit {
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'NotoKrL';
}

.flex-status .member-box .txt {
  font-size: 16px;
  color: #666;
}

.flex-status .member-box .cor-blue {
  font-size: 18px;
}

.flex-status .member-box .txt-type {
  color: #222;
  font-size: 18px;
}

.flex-status .member-box:first-child {
  padding-left: 0px;
}

.member-sign-complete {
  text-align: center;
}

.member-sign-complete .ex-tit {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
}

.member-sign-complete > p {
  font-size: 18px;
  margin-bottom: 60px;
}

.member-sign-complete .ex-txt {
  font-size: 16px;
}

.member-sign-complete .ex-txt span {
  font-size: 16px;
}

.deposit-flex dt {
  font-size: 18px;
  margin-right: 45px;
}

.deposit-flex dd p {
  margin-bottom: 6px;
}

.pos-wrap {
  width: 410px;
  margin: 0 auto;
  text-align: center;
}

.pos-wrap .deposit-flex dt {
  text-align: left;
  margin-right: 0px;
  width: 155px;
}

.pos-wrap .deposit-flex dd p {
  font-size: 18px;
}

.form-area {
  padding: 0 60px;
}

.form-area dt {
  padding-top: 10px;
  font-size: 16px;
}

.form-area .input-type .input-text {
  vertical-align: middle;
  border-radius: 3px;
  padding: 10px 10px 9px;
  border: 1px solid #ddd;
  margin-right: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-area .input-type .input-text::-webkit-input-placeholder {
  color: #999;
}

.form-area .input-type .input-text:-ms-input-placeholder {
  color: #999;
}

.form-area .input-type .input-text::-ms-input-placeholder {
  color: #999;
}

.form-area .input-type .input-text::placeholder {
  color: #999;
}

.form-area .input-type .btn-notice {
  vertical-align: middle;
}

.form-area .cor-red {
  margin-top: 5px;
  margin-bottom: 10px;
}

.form-area .list li {
  margin-bottom: 3px;
  color: #666;
}

.form-area .list li span {
  display: inline-block;
  width: 53px;
  color: #666;
}

.event-banner {
  width: 100%;
  max-width: 1480px;
  border-top: 1px solid #ddd;
  padding: 60px 0px;
  position: relative;
}

.event-banner .banner-area {
  display: inline-block;
  vertical-align: middle;
  margin-right: 148px;
}

.event-banner .banner-area > a {
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  border-radius: 10px;
  min-height: 115px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.event-banner .banner-area > a > strong {
  display: block;
  color: #fff;
  font-size: 20px;
  margin-bottom: 25px;
}

.event-banner .banner-area > a > .arr {
  position: relative;
  display: inline-block;
  color: #fff;
  padding-right: 10px;
}

.event-banner .banner-area > a > .arr:after {
  position: absolute;
  right: 0px;
  top: 4px;
  width: 10px;
  height: 12px;
  background: url("../images/sub/ico_driving_arr.png") no-repeat 0px 0px;
  content: '';
}

.event-banner .banner-area.inquiryType {
  margin-bottom: 0px;
  padding: 0px;
}

.event-banner .banner-area.inquiryType > a {
  width: 480px;
  min-height: 110px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  background-image: url("../images/sub/bg_banner_event01.png");
  background-position: 90% 20px;
  background-repeat: no-repeat;
}

.event-banner .banner-area.inquiryType > a > strong {
  color: #222;
  font-size: 18px;
  margin-bottom: 30px;
}

.event-banner .banner-area.inquiryType > a > .arr {
  color: #3366cc;
  padding-right: 17px;
}

.event-banner .banner-area.inquiryType > a > .arr:after {
  top: 4px;
  background: url("../images/sub/ico_driving_arr.png") no-repeat 0px 0px;
  content: '';
}

.event-banner .banner-area.product-area > a {
  min-height: 110px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  background-image: url("../images/sub/bg_banner_event03.png");
  background-position: calc(100% - 15px) 40px;
  background-repeat: no-repeat;
  background-size: 151px auto;
}

.event-banner .banner-area.product-area > a > strong {
  color: #222;
  font-size: 14px;
  margin-bottom: 8px;
}

.event-banner .banner-area.product-area > a > strong .big {
  font-size: 18px;
}

.event-banner .banner-area.product-area > a > .arr {
  color: #3366cc;
  padding-right: 10px;
}

.event-banner .banner-area.product-area > a > .arr:after {
  background: url("../images/sub/sprite_mycar.png") no-repeat -160px -20px;
  background-size: 500px;
  content: '';
}

.event-banner .banner-area.bg01 > a {
  background-color: #6e7da0;
  background-image: url("../images/sub/bg_util_event01.png");
  background-position: calc(100% - 15px) 17px;
  background-repeat: no-repeat;
  background-size: 106px auto;
}

.event-banner .banner-area.bg02 > a {
  background-color: #6e7da0;
  background-image: url("../images/sub/bg_util_event01.png");
  background-position: calc(100% - 15px) calc(100% - 20px);
  background-repeat: no-repeat;
  background-size: 116px auto;
}

.event-banner .btn-user-wrap {
  display: inline-block;
  vertical-align: middle;
}

.event-banner .btn-user-wrap .ico {
  position: relative;
  display: inline-block;
  padding-left: 46px;
  font-size: 18px;
  height: 34px;
  margin-right: 15px;
}

.event-banner .btn-user-wrap .ico:before {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 34px;
  height: 34px;
  background: url("../images/sub/ico_membership_03.png") no-repeat 0 0;
  content: "";
}

.login-wrapper {
  width: 300px;
}

.login-wrapper.dealer .sns-wrap {
  display: none;
}

.login-wrapper .login-flex-tnb {
  margin-top: 10px;
}

.login-wrapper .login-flex-tnb .inp-ch label > span {
  color: #222;
  font-size: 14px;
}

.login-wrapper .login-flex-tnb .find-acc-box ul {
  padding-top: 2px;
  font-size: 0px;
}

.login-wrapper .login-flex-tnb .find-acc-box ul li {
  position: relative;
  display: inline-block;
  padding-left: 8px;
  margin-left: 8px;
}

.login-wrapper .login-flex-tnb .find-acc-box ul li:first-child {
  padding-left: 0px;
  margin-left: 0px;
}

.login-wrapper .login-flex-tnb .find-acc-box ul li:first-child:after {
  display: none;
}

.login-wrapper .login-flex-tnb .find-acc-box ul li:after {
  display: block;
  position: absolute;
  left: 0px;
  top: 5px;
  width: 1px;
  height: 10px;
  background-color: #666;
  content: "";
}

.login-wrapper .login-flex-tnb .find-acc-box ul li a {
  font-size: 14px;
  font-family: 'NotoKrR';
}

.login-wrapper .login-btn {
  margin-top: 24px;
}

.login-wrapper .login-btn > a {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login-wrapper .sns-wrap {
  margin-top: 60px;
}

.login-wrapper .sns-wrap .sns-tit {
  display: block;
  margin-bottom: 30px;
}

.login-wrapper .sns-wrap .sns-content ul li {
  margin-bottom: 10px;
}

.login-wrapper .sns-wrap .sns-content ul li:last-child {
  margin-bottom: 0px;
}

.login-wrapper .sns-wrap .sns-content ul li > a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login-wrapper .sns-wrap .sns-content .ico {
  position: relative;
  padding-left: 28px;
  font-size: 18px;
  font-family: 'NotoKrM';
}

.login-wrapper .sns-wrap .sns-content .ico:before {
  position: absolute;
  left: 0px;
  top: 5px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
}

.login-wrapper .sns-wrap .sns-content .naver:before {
  background-image: url("../images/sub/ico_naver.png");
}

.login-wrapper .sns-wrap .sns-content .kacao:before {
  background-image: url("../images/sub/ico_kacao.png");
}

.login-wrapper .sns-wrap .sns-content .facebook:before {
  background-image: url("../images/sub/ico_facebook.png");
}

.login-wrapper .sns-wrap .sns-content .google:before {
  background-image: url("../images/sub/ico_google.png");
}

.the-tab-wrap {
  padding-left: 60px;
  margin-bottom: 80px;
}

.the-tab-wrap ul {
  font-size: 0px;
}

.the-tab-wrap ul li {
  display: inline-block;
  margin-right: 48px;
}

.the-tab-wrap ul li a {
  display: block;
  font-size: 18px;
  padding-bottom: 20px;
}

.the-tab-wrap ul li a.active {
  font-weight: 900;
  color: #2666c6;
  border-bottom: 2px solid #2666c6;
}

.membership-wrap {
  margin-top: 130px;
}

.membership-wrap li {
  margin-bottom: 30px;
}

.membership-wrap li a {
  display: block;
}

.membership-wrap li a .ico {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #364f7f;
  padding-left: 40px;
}

.membership-wrap li a .ico:before {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 25px;
  height: 25px;
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
}

.membership-wrap li a .ico.type01:before {
  background-image: url("../images/sub/ico_membership_01.png");
}

.membership-wrap li a .ico.type02:before {
  background-image: url("../images/sub/ico_membership_02.png");
}

.membership-wrap li:last-child {
  margin-bottom: 0px;
}

.with-reason {
  padding: 0 30px;
}

.with-reason .tit {
  display: block;
  font-size: 24px;
  font-family: 'NotoKrD';
  margin-bottom: 25px;
}

.with-reason .tit span {
  font-size: 18px;
  font-family: 'NotoKrD';
}

.with-reason .s-list span {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.with-reason .s-list span .round-box {
  padding: 0 20px;
  height: 36px;
  line-height: 35px;
}

.with-reason .s-list span input[type='checkbox']:checked + .round-box {
  background-color: #2666c6;
  color: #fff;
  border: 1px solid #2666c6;
}

.txt-s-info {
  font-size: 18px;
}

.info-s-list {
  margin-top: 50px;
}

.info-s-list li {
  margin-bottom: 3px;
  font-size: 18px;
}

.info-s-list li span {
  display: inline-block;
  font-size: 18px;
  width: 72px;
}

.car-level-choice ul .lv-box {
  overflow: hidden;
  width: 250px;
  height: 450px;
  border-radius: 15px;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.car-level-choice ul .lv-box.bg01 {
  border: 2px solid #2666c6;
  background-color: #2666c6;
}

.car-level-choice ul .lv-box.bg01 .ico {
  background-image: url("../images/sub/ico_level_01.png");
}

.car-level-choice ul .lv-box.bg02 {
  border: 2px solid #a3adce;
  background-color: #a3adce;
}

.car-level-choice ul .lv-box.bg02 .ico {
  background-image: url("../images/sub/ico_level_02.png");
}

.car-level-choice ul .lv-box.bg03 {
  border: 2px solid #fe6b62;
  background-color: #fe6b62;
}

.car-level-choice ul .lv-box.bg03 .ico {
  background-image: url("../images/sub/ico_level_03.png");
}

.car-level-choice ul .lv-box.bg04 {
  border: 2px solid #a29b93;
  background-color: #a29b93;
}

.car-level-choice ul .lv-box.bg04 .ico {
  background-image: url("../images/sub/ico_level_04.png");
}

.car-level-choice ul .lv-box .ico {
  display: block;
  text-align: center;
  margin-top: 170px;
  padding-top: 70px;
  font-size: 24px;
  color: #fff;
  font-family: 'NotoKrD';
  background-repeat: no-repeat;
  background-position: 50% 0px;
}

.car-level-choice ul .lv-box .ico .result {
  margin-top: 60px;
}

.car-level-choice ul .lv-box .ico .result span {
  color: #fff;
  font-size: 16px;
  font-family: 'NotoKrD';
}

.car-level-choice ul .lv-box .ico .result span em {
  display: block;
}

.car-level-choice ul .lv-box .lv-content {
  display: none;
  margin-top: 60px;
  height: 330px;
}

.car-level-choice ul .lv-box .lv-content .detail-list li {
  padding-left: 20px;
}

.car-level-choice ul .lv-box .lv-content .detail-list li .inp-ch {
  margin-bottom: 32px;
}

.car-level-choice ul .lv-box .lv-content .detail-list li .inp-ch span em {
  font-size: 16px;
  display: block;
}

.car-level-choice ul .lv-box .lv-content .detail-list li ul {
  display: none;
}

.car-level-choice ul .lv-box .lv-content .detail-list li ul li {
  padding-left: 32px;
}

.car-level-choice ul .lv-box .lv-content .detail-list li.on ul {
  display: block;
}

.car-level-choice ul .lv-box .lv-content .custome-input {
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.car-level-choice ul .lv-box .lv-content .custome-input .inp-ch {
  padding-top: 10px;
  float: left;
}

.car-level-choice ul .lv-box .lv-content .custome-input .inp-t {
  float: right;
  width: 190px;
}

.car-level-choice ul .lv-box .lv-content .custome-input .inp-t > input {
  text-align: right;
}

.car-level-choice ul .lv-box .lv-content .km-list {
  margin-top: 15px;
}

.car-level-choice ul .lv-box .lv-content .km-list li {
  margin-bottom: 20px;
  padding-left: 20px;
}

.car-level-choice ul .lv-box.on {
  width: 350px;
  background-color: #fff !important;
}

.car-level-choice ul .lv-box.on .ico {
  margin-top: 25px;
  padding-top: 0px;
  color: #222;
  background: none;
}

.car-level-choice ul .lv-box.on .ico .result {
  display: none;
}

.car-level-choice ul .lv-box.on .lv-content {
  display: block;
}

.top-tit .tv-detail {
  position: relative;
}

.top-tit .tv-detail .ft-tn {
  font-family: "NotoKrT";
}

.top-tit .tv-detail .cor-blue {
  font-size: 18px;
}

.top-tit .tv-detail .tit {
  display: block;
  font-size: 50px;
  margin-bottom: 10px;
}

.top-tit .tv-detail .date {
  font-size: 14px;
  color: #999;
}

.top-tit .tv-detail .answered {
  position: absolute;
  right: 0px;
  top: 25px;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 100%;
  border: 2px solid #336fc9;
}

.top-tit.est-box {
  padding-bottom: 140px;
  position: relative;
}

.top-tit.est-box:after {
  content: "";
  position: absolute;
  right: 60px;
  top: -52px;
  display: block;
  width: 246px;
  height: 292px;
  background: url("../images/sub/my_bg.png") no-repeat 0px 0px;
}

.top-tit.survey-box {
  padding-bottom: 80px;
  position: relative;
}

.top-tit.survey-box:after {
  content: "";
  position: absolute;
  right: 30px;
  top: -17px;
  display: block;
  width: 285px;
  height: 245px;
  background: url("../images/sub/my_bg.png") no-repeat 0px -400px;
}

.c-wrapper .contents .notice-flex-info {
  margin-top: 30px;
  padding-top: 60px;
  padding-bottom: 100px;
  border-top: 1px solid #ddd;
}

.c-wrapper .qustions-area {
  margin-top: 30px;
}

.c-wrapper .area-btn {
  margin-bottom: 100px;
}

.c-wrapper .car-level-choice {
  margin-bottom: 100px;
}

.tnb-info .tit-inline-box {
  margin-right: 34px;
}

.tnb-info .tit-inline-box .txt-info-vertical {
  display: block;
  height: 40px;
}

.nothing-est {
  font-size: 18px;
  margin-top: 60px;
}

.txt-flex-wrap {
  width: 920px;
  margin-top: 50px;
}

.txt-flex-wrap .nothing-est {
  margin-top: 10px;
}

.garage-info {
  overflow: hidden;
}

.garage-info .tit-wrap {
  position: relative;
  padding-right: 270px;
  float: left;
}

.garage-info .tit-wrap em {
  display: block;
  font-size: 16px;
}

.garage-info .tit-wrap strong {
  display: block;
  font-size: 30px;
}

.garage-info .tit-wrap span {
  display: block;
  font-size: 16px;
}

.garage-info .tit-wrap .car-image {
  position: absolute;
  right: 0px;
  top: 0px;
}

.garage-info .detail-flex-garage {
  float: left;
  margin-left: 50px;
  margin-bottom: 60px;
}

.garage-info .detail-flex-garage .info-box {
  margin-top: 45px;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #ddd;
}

.garage-info .detail-flex-garage .info-box.last {
  border-right: none;
}

.garage-info .detail-flex-garage .info-box strong {
  font-size: 18px;
}

.garage-info .detail-flex-garage .info-box p {
  margin-top: 5px;
  font-size: 18px;
}

.garage-info .detail-flex-garage .btn-box {
  padding-top: 60px;
}

.garage-sign-info {
  overflow: hidden;
  margin-bottom: 60px;
  max-width: 1280px;
  width: 100%;
}

.garage-sign-info .ft-tn {
  font-family: "NotoKrT";
}

.garage-sign-info .tit {
  float: left;
  font-size: 50px;
  line-height: 1.1;
}

.garage-sign-info .tit em {
  font-size: 50px;
}

.garage-sign-info .tit strong {
  font-size: 50px;
}

.garage-sign-info .tv-carSel {
  float: right;
}

.w1920 .driving-distance .parking-find {
  padding-top: 20px;
  margin-left: 0px;
}

.w1280 .driving-distance .parking-find {
  padding-top: 20px;
  margin-left: 0px;
}

.tw-car-search {
  overflow: hidden;
  padding-top: 10px;
  margin-bottom: 70px;
  width: 100%;
  max-width: 1480px;
}

.tw-car-search .the-tab-wrap {
  padding-top: 5px;
  float: left;
  margin-bottom: 0px;
  padding-left: 0px;
}

.tw-car-search .search-list {
  float: right;
}

.tw-car-search .search-list dt {
  display: inline-block;
  font-size: 18px;
  vertical-align: top;
  padding-top: 5px;
}

.tw-car-search .search-list dt .btn-reflsh {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  background: url("../images/sub/btn_reflsh.png") no-repeat 0 0;
}

.tw-car-search .search-list dd {
  display: inline-block;
}

.tw-car-search .search-list dd .with-reason {
  padding-right: 0px;
}

.tw-car-search .search-list dd .with-reason .s-list {
  width: 870px;
  padding-right: 0px;
}

.tw-car-search .search-list dd .with-reason .s-list span {
  position: relative;
}

.tw-car-search .search-list dd .with-reason .s-list .close-btn {
  position: absolute;
  right: -5px;
  top: -5px;
  text-indent: -9999px;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/sub/btn_search_close.png") no-repeat 0 0;
}

.tnb-wrap {
  overflow: hidden;
  width: 100%;
  max-width: 1480px;
}

.tnb-wrap .info-selected {
  float: left;
}

.tnb-wrap .btn-area {
  padding-top: 10px;
  float: right;
}

.tnb-wrap .btn-area a {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding-left: 33px;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-left: 10px;
}

.tnb-wrap .btn-area a.btn-options {
  background-image: url("../images/sub/btn_options.png");
}

.tnb-wrap .btn-area a.btn-reset {
  background-image: url("../images/sub/btn_reflsh.png");
}

.btn-sort {
  position: relative;
  display: inline-block;
  height: 38px;
  line-height: 36px;
  border: 1px solid #ddd;
  border-radius: 50px;
  width: 130px;
  color: #222;
  padding: 0 30px 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-sort:after {
  position: absolute;
  right: 15px;
  top: 14px;
  width: 16px;
  height: 10px;
  background: url("../images/sub/bg_arraw.png") no-repeat 0 0;
  content: "";
}

.btn-sort.on {
  color: #fff;
  background-color: #336fc9;
}

.btn-sort.on:after {
  background: #336fc9 url("../images/sub/bg_arraw_on.png") no-repeat 0 0;
}

.choice-car-list {
  width: 100%;
  max-width: 1480px;
  border-top: 1px solid #ddd;
  padding: 60px 0;
}

.choice-car-list .tit-wrap {
  overflow: hidden;
  margin-bottom: 40px;
}

.choice-car-list .tit-wrap strong {
  float: left;
  font-size: 24px;
  font-family: 'NotoKrT';
}

.choice-car-list .tit-wrap .btn {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  color: #2666c6;
  text-decoration: none;
  margin-right: 30px;
  float: right;
}

.choice-car-list .tit-wrap .btn:after {
  position: absolute;
  right: 0px;
  top: 4px;
  width: 6px;
  height: 12px;
  background: url("../images/sub/ico_driving_arr.png") no-repeat 0 0;
  content: "";
}

.choice-car-list .tit-wrap .btn:last-child {
  margin-right: 0px;
}

.choice-car-list > ul {
  overflow: hidden;
}

.choice-car-list > ul li {
  float: left;
  margin-right: 20px;
}

.choice-car-list > ul li:last-child {
  margin-right: 0px;
}

.choice-car-list .car-box .tit {
  display: block;
  font-family: 'NotoKrT';
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.choice-car-list .car-box .list {
  overflow: hidden;
  margin-bottom: 10px;
}

.choice-car-list .car-box .list li {
  position: relative;
  float: left;
  padding-right: 10px;
  margin-right: 10px;
  color: #999;
}

.choice-car-list .car-box .list li:after {
  position: absolute;
  right: 0px;
  top: 4px;
  display: block;
  width: 1px;
  height: 12px;
  background-color: #b4b4b4;
  content: "";
}

.choice-car-list .car-box .list li:last-child:after {
  display: none;
}

.choice-car-list .car-box .overlay {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}

.choice-car-list .car-box .overlay .pay {
  color: #999;
}

.choice-car-list .car-box .pay {
  font-size: 18px;
  color: #336fc9;
}

.choice-car-list .car-box .pay del {
  font-weight: 300;
  color: #999;
  font-size: 14px;
}

.choice-car-list .car-box .cor-btn {
  margin-top: 10px;
}

.choice-car-list .car-box .cor-btn span {
  display: inline-block;
  min-width: 60px;
  text-align: center;
  height: 26px;
  line-height: 26px;
  border-radius: 50px;
  font-size: 12px;
  margin-right: 5px;
}

.choice-car-list .car-box .cor-btn span.cor-red {
  border: 1px solid #fd665c;
}

.choice-car-list .car-box .cor-btn span.cor-blue {
  border: 1px solid #2666c6;
}

.nt-flex-wrap {
  width: 100%;
  max-width: 1480px;
}

.nt-flex-wrap .box {
  position: relative;
  width: 580px;
  height: 250px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 30px;
  background-repeat: no-repeat;
  background-position: 95% 85%;
  margin-bottom: 20px;
  margin-right: 20px;
}

.nt-flex-wrap .box.bg01 {
  background-image: url(../../images/pc/sub/bg_templete_01.png);
}

.nt-flex-wrap .box.bg02 {
  background-image: url(../../images/pc/sub/bg_templete_02.png);
}

.nt-flex-wrap .box.bg03 {
  background-image: url(../../images/pc/sub/bg_templete_03.png);
}

.nt-flex-wrap .box.bg04 {
  background-image: url(../../images/pc/sub/bg_templete_04.png);
}

.nt-flex-wrap .box strong {
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
}

.nt-flex-wrap .box p {
  font-size: 16px;
  color: #666;
}

.nt-flex-wrap .arrow-btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.arrow-btn {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  color: #2666c6;
  text-decoration: none;
  margin-right: 30px;
}

.arrow-btn:after {
  position: absolute;
  right: 0px;
  top: 4px;
  width: 6px;
  height: 12px;
  background: url("../images/sub/ico_driving_arr.png") no-repeat 0 0;
  content: "";
}

.arrow-btn:last-child {
  margin-right: 0px;
}

.layer-model {
  width: 980px;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  -webkit-box-shadow: 0px 15px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 15px 10px -5px rgba(0, 0, 0, 0.2);
}

.layer-model.type-sort {
  width: 751px;
}

.layer-model.type-hope {
  width: 692px;
}

.layer-model.type-hope .car-sorts ul li label {
  width: 150px;
}

.layer-model dl {
  margin-bottom: 30px;
}

.layer-model dl dt {
  font-size: 18px;
  margin-bottom: 20px;
}

.layer-model dl dd [class^='car-'] {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
}

.layer-model dl dd [class^='car-'] label {
  position: relative;
  display: inline-block;
  padding-left: 50px;
  padding-right: 20px;
  height: 40px;
  line-height: 38px;
  border-radius: 50px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.layer-model dl dd [class^='car-'] label > span {
  display: inline-block;
  margin-left: 5px;
}

.layer-model dl dd [class^='car-'] label::before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  content: "";
}

.layer-model dl dd [class^='car-'] input[type='checkbox'] {
  display: none;
}

.layer-model dl dd [class^='car-'] input[type='checkbox']:checked + label {
  background-color: #2666c6;
  color: #fff;
  border: 1px solid #2666c6;
}

.layer-model dl dd [class^='car-'] input[type='checkbox']:checked + label > span {
  color: #fff;
}

.layer-model dl dd [class*="all"] label:before {
  background-image: url("../images/sub/ico_checked.png");
}

.layer-model dl dd [class*="all"] input[type='checkbox']:checked + label:before {
  background-image: url("../images/sub/ico_checked_on.png");
}

.layer-model dl dd [class*="hyundai"] label:before {
  background-image: url(../../images/pc/sub/ico_hyundai.png);
}

.layer-model dl dd [class*="kia"] label:before {
  background-image: url(../../images/pc/sub/ico_kia.png);
}

.layer-model dl dd [class*="gm"] label:before {
  background-image: url(../../images/pc/sub/ico_gm.png);
}

.layer-model dl dd [class*="renault"] label:before {
  background-image: url(../../images/pc/sub/ico_renault.png);
}

.layer-model dl dd [class*="smortor"] label:before {
  background-image: url(../../images/pc/sub/ico_smortor.png);
}

.layer-model dl dd [class*="genesis"] label:before {
  background-image: url(../../images/pc/sub/ico_genesis.png);
}

.layer-model dl dd [class*="etc"] label:before {
  background-image: url(../../images/pc/sub/ico_etc.png);
}

.layer-model dl dd [class*="benz"] label:before {
  background-image: url(../../images/pc/sub/ico_benz.png);
}

.layer-model dl dd [class*="bmw"] label:before {
  background-image: url(../../images/pc/sub/ico_bmw.png);
}

.layer-model dl dd [class*="audi"] label:before {
  background-image: url(../../images/pc/sub/ico_audi.png);
}

.layer-model dl dd [class*="volkswagen"] label:before {
  background-image: url(../../images/pc/sub/ico_volkswagen.png);
}

.layer-model .area-btn {
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.layer-model .model-content {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  overflow: hidden;
}

.layer-model .model-content > div {
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layer-model .model-content .m-list-left {
  float: left;
  width: 50%;
  height: 420px;
  border-right: 1px solid #ddd;
}

.layer-model .model-content .m-list-right {
  float: left;
  width: 50%;
  height: 420px;
}

.layer-model .model-content .c-list {
  padding-top: 30px;
}

.layer-model .model-content .c-list ul li {
  overflow: hidden;
  margin-bottom: 30px;
}

.layer-model .model-content .c-list ul li .inp-ch {
  float: left;
}

.layer-model .model-content .c-list ul li .inp-ch .date {
  color: #999;
}

.layer-model .model-content .c-list ul li strong {
  float: right;
}

.layer-model .model-content .empty-area {
  text-align: center;
  padding-top: 165px;
}

.layer-model .model-content .empty-area p {
  font-size: 16px;
}

.layer-model .car-sorts ul li {
  display: inline-block;
  margin-bottom: 10px;
}

.layer-model .car-sorts ul li label {
  width: 130px;
  display: inline-block;
  border: 1px solid #ddd;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
}

.layer-model .car-sorts ul li label span {
  display: inline-block;
  margin-left: 5px;
}

.layer-model .car-sorts ul li input[type='checkbox'] {
  display: none;
}

.layer-model .car-sorts ul li input[type='checkbox']:checked + label {
  background-color: #2666c6;
  color: #fff;
}

.layer-model .car-sorts ul li input[type='checkbox']:checked + label span {
  color: #fff;
}

.layer-model .info-tit {
  font-size: 16px;
  display: block;
  margin-bottom: 20px;
}

.layer-model .info-tit .btn-info {
  display: inline-block;
  vertical-align: middle;
}

.fac-wrap .step-btn {
  position: relative;
  display: inline-block;
  padding-left: 15px;
  color: #2666c6;
  text-decoration: none;
}

.fac-wrap .step-btn:after {
  position: absolute;
  left: 0px;
  top: 4px;
  width: 6px;
  height: 12px;
  background: url("../images/sub/ico_driving_arr_cross.png") no-repeat 0 0;
  content: "";
}

.fac-wrap .step-btn:last-child {
  margin-right: 0px;
}

.fac-wrap .all-car-thing {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 50px;
  background-color: #f1f1f1;
  padding: 0 18px;
  height: 35px;
  line-height: 35px;
  margin-left: 20px;
}

.fac-wrap .list {
  margin-top: 30px;
  padding-bottom: 20px;
}

.fac-wrap .list a {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  padding: 0 15px;
  border-radius: 50px;
  border: 1px solid #ddd;
  color: #222;
  margin-right: 5px;
}

.fac-wrap .list a.on {
  border: 1px solid #2666c6;
  background-color: #2666c6;
  color: #fff;
}

.thumnail-type {
  float: left;
  margin-right: 10px;
}

.thumnail-type label {
  display: inline-block;
  width: 170px;
  height: 128px;
  padding-top: 30px;
  border: 1px solid #ddd;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  cursor: pointer;
}

.thumnail-type label.hyundai {
  background-image: url(../../images/pc/sub/ico_hyundai.png);
}

.thumnail-type label.kia {
  background-image: url(../../images/pc/sub/ico_kia.png);
}

.thumnail-type label.bmw {
  background-image: url(../../images/pc/sub/ico_bmw.png);
}

.thumnail-type label.genesis {
  background-image: url(../../images/pc/sub/ico_genesis.png);
}

.thumnail-type label span {
  margin-top: 10px;
  display: block;
}

.thumnail-type input[type='checkbox'] {
  display: none;
}

.thumnail-type input[type='checkbox']:checked + label {
  background-color: #336fc9;
}

.thumnail-type input[type='checkbox']:checked + label span {
  color: #fff;
}

.car-content {
  padding-top: 40px;
  overflow: hidden;
  height: 385px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #ddd;
}

.car-content dt {
  position: relative;
}

.car-content dt .arrow-btn {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 14px;
}

.car-content dd {
  overflow: hidden;
}

.setting {
  margin-top: 30px;
}

.setting .top-area {
  overflow: hidden;
}

.setting .top-area .inp-ch02 {
  float: left;
}

.setting .top-area .inp-ch02 label > span {
  font-size: 16px;
  margin-right: 5px;
}

.setting .btn-reset {
  float: right;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding-left: 33px;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../images/sub/btn_reflsh.png");
}

.price-range {
  display: none;
}

.pay-setting {
  margin-top: 22px;
  overflow: hidden;
}

.pay-setting .range-wrap {
  float: left;
  width: 280px;
  padding-top: 20px;
}

.pay-setting .select-bar {
  float: right;
}

.manu-content {
  padding-top: 60px;
  margin-bottom: 60px;
  border-top: 1px solid #ddd;
}

.manu-content .tit {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 50px;
}

.manu-content .fac-wrap {
  margin-bottom: 50px;
}

.manu-content .car-list-sorts dl {
  margin-bottom: 30px;
}

.manu-content .car-list-sorts dl dt {
  font-size: 18px;
  margin-bottom: 20px;
}

.manu-content .car-list-sorts dl dd [class^='car-'] {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
}

.manu-content .car-list-sorts dl dd [class^='car-'] label {
  position: relative;
  display: inline-block;
  padding-left: 50px;
  padding-right: 20px;
  height: 40px;
  line-height: 38px;
  border-radius: 50px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.manu-content .car-list-sorts dl dd [class^='car-'] label > span {
  display: inline-block;
  margin-left: 5px;
}

.manu-content .car-list-sorts dl dd [class^='car-'] label::before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  content: "";
}

.manu-content .car-list-sorts dl dd [class^='car-'] input[type='checkbox'] {
  display: none;
}

.manu-content .car-list-sorts dl dd [class^='car-'] input[type='checkbox']:checked + label {
  background-color: #2666c6;
  color: #fff;
  border: 1px solid #2666c6;
}

.manu-content .car-list-sorts dl dd [class^='car-'] input[type='checkbox']:checked + label > span {
  color: #fff;
}

.manu-content .car-list-sorts dl dd [class*="all"] label:before {
  background-image: url("../images/sub/ico_checked.png");
}

.manu-content .car-list-sorts dl dd [class*="all"] input[type='checkbox']:checked + label:before {
  background-image: url("../images/sub/ico_checked_on.png");
}

.manu-content .car-list-sorts dl dd [class*="hyundai"] label:before {
  background-image: url(../../images/pc/sub/ico_hyundai.png);
}

.manu-content .car-list-sorts dl dd [class*="kia"] label:before {
  background-image: url(../../images/pc/sub/ico_kia.png);
}

.manu-content .car-list-sorts dl dd [class*="gm"] label:before {
  background-image: url(../../images/pc/sub/ico_gm.png);
}

.manu-content .car-list-sorts dl dd [class*="renault"] label:before {
  background-image: url(../../images/pc/sub/ico_renault.png);
}

.manu-content .car-list-sorts dl dd [class*="smortor"] label:before {
  background-image: url(../../images/pc/sub/ico_smortor.png);
}

.manu-content .car-list-sorts dl dd [class*="genesis"] label:before {
  background-image: url(../../images/pc/sub/ico_genesis.png);
}

.manu-content .car-list-sorts dl dd [class*="etc"] label:before {
  background-image: url(../../images/pc/sub/ico_etc.png);
}

.manu-content .car-list-sorts dl dd [class*="benz"] label:before {
  background-image: url(../../images/pc/sub/ico_benz.png);
}

.manu-content .car-list-sorts dl dd [class*="bmw"] label:before {
  background-image: url(../../images/pc/sub/ico_bmw.png);
}

.manu-content .car-list-sorts dl dd [class*="audi"] label:before {
  background-image: url(../../images/pc/sub/ico_audi.png);
}

.manu-content .car-list-sorts dl dd [class*="volkswagen"] label:before {
  background-image: url(../../images/pc/sub/ico_volkswagen.png);
}

.manu-content .popularity-content dl {
  overflow: hidden;
  margin-bottom: 40px;
}

.manu-content .popularity-content dl dt {
  position: relative;
  font-size: 18px;
  margin-bottom: 20px;
}

.manu-content .popularity-content dl dt .arrow-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 14px;
}

.manu-content .model-content {
  margin-top: 20px;
  overflow: hidden;
}

.manu-content .model-content > div {
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.manu-content .model-content .m-list-left {
  float: left;
  width: 50%;
  height: 420px;
  border-right: 1px solid #ddd;
}

.manu-content .model-content .m-list-right {
  float: left;
  width: 50%;
  height: 420px;
}

.manu-content .model-content .c-list {
  padding-top: 30px;
}

.manu-content .model-content .c-list ul li {
  overflow: hidden;
  margin-bottom: 30px;
}

.manu-content .model-content .c-list ul li .inp-ch {
  float: left;
}

.manu-content .model-content .c-list ul li .inp-ch .date {
  color: #999;
}

.manu-content .model-content .c-list ul li strong {
  float: right;
}

.manu-content .model-content .empty-area {
  text-align: center;
  padding-top: 165px;
}

.manu-content .model-content .empty-area p {
  font-size: 16px;
}

.manu-content .car-sorts ul li {
  display: inline-block;
  margin-bottom: 10px;
}

.manu-content .car-sorts ul li label {
  width: 130px;
  display: inline-block;
  border: 1px solid #ddd;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
}

.manu-content .car-sorts ul li label span {
  display: inline-block;
  margin-left: 5px;
}

.manu-content .car-sorts ul li input[type='checkbox'] {
  display: none;
}

.manu-content .car-sorts ul li input[type='checkbox']:checked + label {
  background-color: #2666c6;
  color: #fff;
}

.manu-content .car-sorts ul li input[type='checkbox']:checked + label span {
  color: #fff;
}

.manu-content .type-hope .car-sorts ul li label {
  width: 150px;
}

.manu-content .setting {
  width: 615px;
}

.manu-content .info-tit {
  font-size: 16px;
  display: block;
  margin-bottom: 15px;
}

.manu-content .info-tit .btn-info {
  display: inline-block;
  vertical-align: middle;
}

.manu-content .area-btn {
  padding-top: 60px;
  border-top: 1px solid #ddd;
}

.total-wrap {
  overflow: hidden;
  margin-bottom: 30px;
}

.total-wrap strong {
  float: left;
}

.total-wrap ul {
  float: right;
}

.total-wrap ul li {
  display: inline-block;
}

.total-wrap ul li a {
  display: block;
  color: #222;
  padding-right: 20px;
  margin-right: 20px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.total-wrap ul li a.up {
  background-image: url(../../images/pc/sub/bg_up.png);
}

.total-wrap ul li a.down {
  background-image: url(../../images/pc/sub/bg_down.png);
}

.total-wrap ul li a.near {
  padding-right: 0px;
}

.total-wrap ul li a.map {
  padding-left: 30px;
  padding-right: 0px;
  margin-right: 0px;
  background-position: 0 50%;
  color: #666;
  background-image: url(../../images/pc/sub/bg_map_point.png);
}

.car-sale-list ul {
  overflow: hidden;
}

.car-sale-list ul li {
  float: left;
  margin-right: 10px;
}

.car-sale-list .area {
  position: relative;
  width: 300px;
  height: 485px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.car-sale-list .area .thumnail {
  position: relative;
  margin-bottom: 30px;
}

.car-sale-list .area .thumnail .cor-red {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  display: inline-block;
  border-radius: 50px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.car-sale-list .area .car-name {
  display: block;
  padding: 0 30px;
  margin-bottom: 10px;
  font-size: 16px;
}

.car-sale-list .area .list {
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0 30px;
}

.car-sale-list .area .list li {
  position: relative;
  float: left;
  padding-right: 10px;
  margin-right: 10px;
  color: #999;
}

.car-sale-list .area .list li:after {
  position: absolute;
  right: 0px;
  top: 4px;
  display: block;
  width: 1px;
  height: 12px;
  background-color: #b4b4b4;
  content: "";
}

.car-sale-list .area .list li:last-child:after {
  display: none;
}

.car-sale-list .area .pay {
  padding: 0 30px;
}

.car-sale-list .area .pay strong {
  font-size: 18px;
}

.car-sale-list .area .pay del {
  font-size: 14px;
  color: #999;
}

.car-sale-list .area .cor-btn {
  margin-top: 10px;
  padding: 0 30px;
}

.car-sale-list .area .cor-btn span {
  display: inline-block;
  min-width: 60px;
  text-align: center;
  height: 26px;
  line-height: 26px;
  border-radius: 50px;
  font-size: 12px;
  margin-right: 5px;
}

.car-sale-list .area .cor-btn span.cor-red {
  border: 1px solid #fd665c;
}

.car-sale-list .area .cor-btn span.cor-blue {
  border: 1px solid #2666c6;
}

.car-sale-list .area .sort-wrap {
  overflow: hidden;
  margin-top: 20px;
  padding: 0 30px;
}

.car-sale-list .area .sort-wrap a {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-indent: -9999px;
  margin-right: 5px;
}

.car-sale-list .area .sort-wrap a:last-child {
  margin-right: 0px;
}

.car-sale-list .area .sort-wrap a.on.btn-like {
  background: url(../../images/pc/sub/ico_like_on.png) no-repeat 0 0;
}

.car-sale-list .area .sort-wrap a.on.btn-comparison {
  background: url(../../images/pc/sub/ico_comparison_on.png) no-repeat 0 0;
}

.car-sale-list .area .sort-wrap a.btn-like {
  background: url(../../images/pc/sub/ico_like.png) no-repeat 0 0;
}

.car-sale-list .area .sort-wrap a.btn-comparison {
  background: url(../../images/pc/sub/ico_comparison.png) no-repeat 0 0;
}

.car-sale-list .area .sort-wrap a.time {
  float: left;
  border-radius: 50px;
  width: auto;
  padding-left: 36px;
  color: #222;
  text-indent: 0;
  padding-right: 15px;
  background: #f5f5f5 url(../../images/pc/sub/ico_timer.png) no-repeat 10px 50%;
}

.car-sale-list .area .sort-wrap a.sale {
  float: right;
  width: auto;
  border-radius: 50px;
  color: #fff;
  text-indent: 0;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #2666c6;
}

.car-sale-list .area .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}

.car-sale-list .area .overlay h3 {
  padding-top: 200px;
  text-align: center;
  font-size: 36px;
}

.car-sale-list .area .overlay h3 span {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}

/*# sourceMappingURL=_guide_d.css.map */