.v2-area .header-area {
  border-bottom: 1px solid #EDEDED;
}
.v2-area .header-area .header-area-grid {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1260px;
  margin: 0 auto;
  height: 135px;
  text-align: right;
}
.v2-area .header-area .header-area-grid .header-logo {
  position: absolute;
  left: 3px;
  top: 53px;
  display: block;
  width: 115px;
  height: 50px;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.v2-area .header-area .header-area-grid .header-nav {
  position: relative;
  height: 25px;
  padding: 80px 0 30px 0;
  text-align: right;
}
.v2-area .header-area .header-area-grid .header-nav .gnb-menu {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 20px 0 0;
  list-style: none;
  font-size: 0;
  vertical-align: top;
}
.v2-area .header-area .header-area-grid .header-nav .gnb-menu > li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
}
.v2-area .header-area .header-area-grid .header-nav .gnb-menu > li > a:hover {
  color: #ff5d16;
}
.v2-area .header-area .header-area-grid .header-nav .gnb-util {
  position: relative;
  display: inline-block;
  color: #454545;
}
.v2-area .header-area .header-area-grid .header-nav .gnb-util::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1px;
  display: inline-block;
  width: 1px;
  height: 18px;
  margin-top: -9px;
  background: #C8C8C8;
}
.v2-area .header-area .header-area-grid .header-nav .gnb-util .membrt-info {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  border: 1px solid transparent;
  margin: 0 0 0 35px;
  color: #454545;
}
.v2-area .header-area .header-area-grid .header-nav .gnb-util .membrt-info strong {
  color: #ff5d16;
}
.v2-area .header-area .header-area-grid .header-nav .gnb-util .navigation-util {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  border: 1px solid transparent;
  margin: 0 0 0 35px;
  color: #454545;
}
.v2-area .header-area .header-area-grid .header-nav .gnb-util .navigation-util .icon-common {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 4px;
  background: url("../../resources/images/common/icon_common_v20210915.png") no-repeat;
  vertical-align: middle;
  overflow: hidden;
}
.v2-area .header-area .header-area-grid .header-nav .gnb-util .navigation-util .icon-common.sign-out {
  background-position: -50px top;
}
.v2-area .header-area .header-area-grid .header-nav .navigation-quick {
  position: absolute;
  right: 0;
  top: 30px;
}
.v2-area .header-area .header-area-grid .header-nav .navigation-quick > a {
  position: relative;
  display: inline-block;
  margin: 0 0 0 1px;
  padding: 0 12px;
  font-size: 14px;
  overflow: visible;
}
.v2-area .header-area .header-area-grid .header-nav .navigation-quick > a:first-child:before {
  display: none;
}
.v2-area .header-area .header-area-grid .header-nav .navigation-quick > a:before {
  content: "";
  position: absolute;
  left: -1px;
  top: 50%;
  display: inline-block;
  width: 1px;
  height: 12px;
  margin-top: -6px;
  background: #C8C8C8;
  vertical-align: middle;
}
.v2-area .header-area .header-area-grid .header-nav .navigation-quick > a.all-menu {
  position: relative;
  padding-right: 18px;
}
.v2-area .header-area .header-area-grid .header-nav .navigation-quick > a.all-menu:after {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -2px;
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  content: "";
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: #464646 transparent transparent;
}
.v2-area .container {
  position: relative;
  padding-top: 48px;
  width: 1260px;
  margin: 0 auto;
  overflow: hidden;
}
.v2-area .cmm-content {
  padding-left: 239px;
  width: 1260px;
}
.v2-area .cmm-content:after {
  display: none;
}
.v2-area .cmm-sub-content {
  padding: 0;
}
.v2-area .cmm-footer {
  overflow: visible;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 1;
  border: none;
}
.v2-area .cmm-footer:before {
  content: "";
  width: 100%;
  z-index: 1;
  height: 1px;
  background: #ddd;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.v2-area .cmm-footer .footer-area {
  width: 1260px;
  margin: 0 auto;
  background: #FDFDFD;
  color: #8B8B8B;
  font-size: 16px;
}
.v2-area .cmm-footer .footer-area .footer-area-grid {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-ci {
  display: block;
  width: 13px;
  height: 30px;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-ci img {
  vertical-align: top;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-terms {
  position: relative;
  margin: 25px 0 0 0;
  padding: 0;
  overflow: hidden;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-terms > a {
  float: left;
  position: relative;
  margin-left: 1px;
  padding: 0 25px;
  color: #8B8B8B;
  font-size: 16px;
  font-style: normal;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-terms > a.emphasize {
  color: #000;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-terms > a:hover {
  text-decoration: underline;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-terms > a:first-child {
  padding-left: 0;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-terms > a:first-child::before {
  display: none;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-terms > a::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 50%;
  display: inline-block;
  width: 1px;
  height: 13px;
  margin-top: -6px;
  background: #CECECE;
  vertical-align: middle;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-info {
  margin-top: 25px;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-info > div {
  display: block;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-info > div > span {
  position: relative;
  margin-left: 1px;
  padding: 0 25px;
  color: #8B8B8B;
  font-size: 16px;
  font-style: normal;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-info > div > span:first-child {
  padding-left: 0;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-info > div > span:first-child::before {
  display: none;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-info > div > span::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 50%;
  display: inline-block;
  width: 1px;
  height: 13px;
  margin-top: -6px;
  background: #CECECE;
  vertical-align: middle;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-notice {
  margin-top: 25px;
  color: #8B8B8B;
  font-size: 15px;
  line-height: 24px;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-notice div {
  color: #8B8B8B;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-copy {
  margin-top: 25px;
  color: #8B8B8B;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-customer {
  position: absolute;
  right: 0;
  top: 55px;
  color: #222;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-customer .customer-content {
  position: relative;
  padding: 10px 25px;
  background: #F7F7F7;
  border-radius: 10px;
  border: 1px solid #DDD;
  font-size: 0;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-customer .customer-content-line {
  display: inline-block;
  width: 0;
  height: 37px;
  margin: 0 12px;
  border-right: 1px dashed #DDD;
  vertical-align: middle;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-customer .customer-content-item {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-customer .customer-content-item-title {
  display: block;
  font-size: 14px;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-customer .customer-content-tel {
  display: block;
  font-size: 16px;
  font-weight: bold;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-customer .customer-content-foot {
  display: block;
  margin: 3px 0 0 0;
  font-size: 12px;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-customer-head {
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 10px 0;
  padding: 0;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-customer-title {
  font-size: 14px;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .icon-common {
  position: relative;
  top: 0;
  display: inline-block;
  width: 20px;
  height: 19px;
  margin-right: 4px;
  background: url("../../resources/images/common/icon_common_v20210915.png") no-repeat;
  background-position: -25px -25px;
  vertical-align: middle;
  overflow: hidden;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-customer-content {
  float: right;
  margin-left: 20px;
  padding-left: 25px;
  border-left: 1px solid #DDD;
  line-height: 1;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-customer-tel {
  display: block;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-customer-time {
  display: block;
  margin-top: 10px;
  font-size: 17px;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-app-award {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  width: 197px;
  height: 48px;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .footer-app-award img {
  display: block;
  width: 100%;
  height: 100%;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .certify-marks {
  display: block;
  margin-top: 10px;
  text-align: right;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .logo-certify {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent !important;
  font-size: xx-small !important;
  overflow: hidden;
  text-indent: -99999px;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .logo-certify.logo-certify-ismsp {
  background-image: url("../../resources/images/common/logo-ismsp.png");
}
.v2-area .cmm-footer .footer-area .footer-area-grid .help-tooltip {
  position: relative;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .help-tooltip:hover .help-tooltip-box {
  display: block;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .help-tooltip .help-tooltip-box {
  position: absolute;
  bottom: 100%;
  left: 0;
  display: none;
  min-width: 225px;
  padding: 12px 14px;
  border: 1px solid #60584c;
  background-color: #f9fcff;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
  font-size: 14px;
  line-height: 1.42;
  text-align: left;
  color: #60584c;
  white-space: nowrap;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .help-tooltip .help-tooltip-box {
  bottom: 100%;
  margin-bottom: 5px;
  left: auto;
  right: -10px;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .help-tooltip .help-tooltip-box.help-tooltip-box-top .help-tooltip-arrow {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  top: auto;
  bottom: -7px;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .help-tooltip .help-tooltip-box.help-tooltip-box-left {
  left: -10px;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .help-tooltip .help-tooltip-box.help-tooltip-box-left .help-tooltip-arrow {
  left: 30px;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .help-tooltip .help-tooltip-box.help-tooltip-box-right .help-tooltip-arrow {
  left: auto;
  right: 30px;
}
.v2-area .cmm-footer .footer-area .footer-area-grid .help-tooltip .help-tooltip-arrow {
  position: absolute;
  top: -7px;
  left: 50%;
  width: 14px;
  height: 14px;
  margin-left: -7px;
  background-color: #f9fcff;
  -webkit-box-shadow: -1px -1px 0 #60584c;
  box-shadow: -1px -1px 0 #60584c;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.v2-area .cmm-footer .footer-area .footer-area-grid .help-tooltip.help-tooltip-show .help-tooltip-box {
  display: inline-block !important;
}
.v2-area .cmm-left-area, .v2-area .common-left-area {
  width: 239px;
  position: absolute;
  z-index: 1;
}
.v2-area .cmm-left-area:before, .v2-area .cmm-left-area:after, .v2-area .common-left-area:before, .v2-area .common-left-area:after {
  display: none !important;
}
.v2-area .cmm-left-area .lnb, .v2-area .common-left-area .lnb {
  font-weight: 700;
  text-align: left;
}
.v2-area .cmm-left-area .lnb .lnb-title, .v2-area .common-left-area .lnb .lnb-title {
  margin-bottom: 42.5px;
  font-size: 20px;
  color: #000;
  font-weight: 700;
}
.v2-area .cmm-left-area .lnb .lnb-list li + li, .v2-area .common-left-area .lnb .lnb-list li + li {
  margin-top: 27.5px;
}
.v2-area .cmm-left-area .lnb .lnb-list a.active span, .v2-area .common-left-area .lnb .lnb-list a.active span {
  color: #ff5d16;
}
.v2-area .cmm-left-area .lnb .lnb-list a.active span:first-child::after, .v2-area .common-left-area .lnb .lnb-list a.active span:first-child::after {
  background: #ff5d16;
}
.v2-area .cmm-left-area .lnb .lnb-list a, .v2-area .common-left-area .lnb .lnb-list a {
  display: inline-block;
}
.v2-area .cmm-left-area .lnb .lnb-list a span, .v2-area .common-left-area .lnb .lnb-list a span {
  vertical-align: middle;
  display: inline-block;
  font-size: 16px;
}
.v2-area .cmm-left-area .lnb .lnb-list a span:first-child::after, .v2-area .common-left-area .lnb .lnb-list a span:first-child::after {
  content: "";
  width: 1px;
  height: 16px;
  margin: 0 10px;
  display: inline-block;
  background: #000;
  vertical-align: middle;
  margin-top: -3px;
}
.v2-area .cmm-left-area .lnb .lnb-btn, .v2-area .common-left-area .lnb .lnb-btn {
  margin-top: 30px;
}
.v2-area .cmm-left-area .lnb .lnb-btn .ad-btn, .v2-area .common-left-area .lnb .lnb-btn .ad-btn {
  display: block;
  height: 40px;
  line-height: 40px;
  background-color: #f7f5f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 16px 0 12.5px;
  font-size: 16px;
  text-align: left;
  width: 170px;
  position: relative;
}
.v2-area .cmm-left-area .lnb .lnb-btn .ad-btn span:before, .v2-area .common-left-area .lnb .lnb-btn .ad-btn span:before {
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  width: 14px;
  height: 14px;
  margin-right: 8.6px;
  display: inline-block;
}
.v2-area .cmm-left-area .lnb .lnb-btn .ad-btn:after, .v2-area .common-left-area .lnb .lnb-btn .ad-btn:after {
  content: "";
  display: block;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  border-right: solid 1px #a8a29a;
  border-bottom: solid 1px #a8a29a;
  width: 8px;
  height: 8px;
}
.v2-area .cmm-left-area .lnb .lnb-btn .ad-btn.setting span:before, .v2-area .common-left-area .lnb .lnb-btn .ad-btn.setting span:before {
  background-image: url("../../resources/images/common/setting-icon.png");
}
.v2-area .cmm-left-area .lnb .lnb-btn .ad-btn.add span:before, .v2-area .common-left-area .lnb .lnb-btn .ad-btn.add span:before {
  background-image: url("../../resources/images/common/check-icon.png");
}
.v2-area .cmm-left-area .lnb .lnb-btn .ad-btn + .ad-btn, .v2-area .common-left-area .lnb .lnb-btn .ad-btn + .ad-btn {
  margin-top: 10px;
}
.v2-area .common-sub-content {
  padding-top: 0;
}
.v2-area .postionRelative .common-sub-content {
  padding-top: 0 !important;
}
.v2-area .common-content {
  padding-left: 239px;
}
.v2-area .common-content.comm-full {
  padding: 0;
}
.v2-area .common-content.comm-full::after {
  display: none;
}
.v2-area .dealer-wrap {
  padding: 0;
}
.v2-area .diag-table .car-price {
  font-size: 18px;
}
.v2-area .car-name-ad, .v2-area .diag-table .pic-info .car-txt .car-num {
  font-size: 14px;
}
.v2-area .car-info span {
  font-size: 13px;
}

.main-all-menu-area {
  padding: 160px 0 0 0;
}
.main-all-menu-area .wrapper {
  position: relative;
}

.all-menu-btns {
  position: absolute;
  top: 0;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.all-menu-btns a {
  display: inline-block;
  border: solid 1px #E9E9E9;
  border-radius: 80px;
  height: 46px;
  line-height: 46px;
  font-size: 15px;
  padding: 0 26px;
  font-weight: 700;
}
.all-menu-btns a + a {
  margin-left: 8px;
}
.all-menu-btns a:last-child i {
  width: 16px;
}
.all-menu-btns a i {
  width: 14px;
  display: inline-block;
  margin-right: 6px;
}
.all-menu-btns a i img {
  width: 100%;
  vertical-align: baseline;
}

.menu-area > li + li {
  margin-top: 40px;
}
.menu-area > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}
.menu-area > li .title {
  font-weight: 700;
  width: 130px;
}
.menu-area > li .depth02 {
  width: calc(100% - 130px);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu-area > li .depth02 li:last-child::after {
  display: none;
}
.menu-area > li .depth02 li::after {
  content: "";
  width: 1px;
  height: 14px;
  background: #cecece;
  margin: 0 20px;
  display: inline-block;
  margin-bottom: -2px;
}

.popup-bg {
  z-index: 9;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}

.all-menu-popup {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 10;
  display: none;
}
.all-menu-popup .wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  max-width: 1300px;
  position: relative;
}
.all-menu-popup > .title {
  padding: 30px 0;
  background: #60584c;
}
.all-menu-popup > .title .wrapper {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.all-menu-popup > .title .popup-close-btn {
  font-size: 50px;
  width: 48px;
  height: 48px;
  line-height: 30px;
  color: #fff;
}
.all-menu-popup .pop-body {
  padding: 60px 0;
}
.all-menu-popup .pop-body .title {
  font-size: 18px;
}
.all-menu-popup .pop-body .depth02 li a {
  font-size: 18px;
}
/*# sourceMappingURL=style_v2.css.map */