@charset "UTF-8";

.form-list {
    &.list-type2 {
        & > li {
            position: relative;
            padding-bottom: 2rem;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    & > li {
        position: relative;
        padding-bottom: 4rem;
        &:last-child {
            padding-bottom: 3rem;
        }
        .form-tit {
            //color: $bk-color;
            font-size: 1.5rem;
            font-weight: $font-weight-bold;
        }
        .form-tit + .form-cont {margin-top: 1.5rem;}
        .form-cont {
            .form-radio + .form-radio {margin-left: 1.5rem;}
            .form-radio {
                label.tit {
                    font-size: 1.5rem;
                    font-weight: $font-weight-bold;
                }
                .inline-ty1 {
                    margin-left: 1rem;
                    display:inline-block;
                    width:10rem;
                }
            }
            .coin {
                position: absolute;
                right:0;
                top:.7rem;
            }
        }
    }
}
.form-list2 {
    & > li {
        padding-top: .9rem;
        &:first-child {padding-top: 0;}
    }
}
.form-list3 {
    & > li {
        padding-top: 3.3rem;
        &:first-child {padding-top: 0;}
        .tit-area {
            width: 7.8rem;
            font-weight: $font-weight-bold;
        }
    }
}
.form-list4 {
    & > li {
        padding-top: 1.2rem;
        &:first-child {padding-top: 0;}
    }
}
.coin {
    font-size: 2.8rem;
    font-weight: $font-weight-bold;
    color: $main-color;
    &.off {
        color: $sub-color3;
        &::after {
            content: "c";
            background-color: $sub-color4;
            color: $sub-color3;
            font-size: $font-size-normal;
            line-height: 1.4rem;
        }
    }
    &::after {
        content: "c";
        position: relative;
        top: -.6rem;
        display: inline-block;
        margin-left: .5rem;
        padding-left: .5rem;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        background-color: $sc-color;
        color: #FF8E0A;
        font-size: $font-size-normal;
        line-height: 1.4rem;
    }
}
.display-inline-block {display: inline-block!important;}
.display-flex-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .select2:first-of-type{
        margin-right:1rem;
    } 
}
.display-flex-start-area {
    display: flex;
    justify-content: flex-start;
    align-items: self-start; 
    
}
.wid100 {width: 100%;}
.wid100 + .wid100 {margin-left: 1rem;}
.ty-wid {width: 25.6rem;}
.wid-ty-normal {width: 28rem;padding-right:2rem;}
.wid-ty-s {width: 22rem;}
.wid-ty-md {width: 35rem;}
.wid-ty-lg {width: 48rem;}
.tit-center-area {
    display: inline-block;
    width: 5rem;
    text-align: center;
    font-weight: $font-weight-bold;
}
.tit-blue {
    font-size: $font-size-normal;
    color: #326FC8;
    font-weight: $font-weight-bold;
}
.icon-recommend {
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: .4rem;
    background:url($img-root + 'icon/icon-recommend.png') no-repeat;
    vertical-align: -.3rem;


}
.img-input-area {display: inline-block;}
.img-input {
    display: flex;
    width: 12.8rem;
    height: 3.7rem;
    border:1px solid #E9E9E9;
    border-radius: .4rem;
    & > .gap-item {
        padding-top: .8rem;
        font-size: $font-size-title-small;
    } 
    & > input {
        width:100%;
        height: 3.5rem;
        border:none;
        outline: none;
        text-align: center;
    }
}
.box-event-area {
    position: relative;
    height: 8.1rem;
    margin: 3rem 0;
    padding: 2.4rem 3.6rem;
    background-color: #FAF9F8;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: $sub-color1;
    font-weight: $font-weight-bold;
    .icon-area {
        position: absolute;
        right: 4.6rem;
        top: 1.6rem;
        width: 4.8rem;
        height: 4.8rem;
        &.coin-img {
            background:url($img-root + 'icon/icon-banner-rht.png') no-repeat;
        }
    }
}
.box-input-cont {
    //position:relative; 
    display: none;
    &.show {
        display: block;
    }
    .p-tit {
        padding-left: 2.4rem;
        color: $sub-color2;
        font-size: $font-size-large;
        font-weight: $font-weight-medium;
        text-decoration: line-through;
        &:after {
            content:"";
            width:1.5rem;
            height:1.1rem;
            margin-left:1.5rem;
            background:url($img-root + 'icon/icon_arrow_lft.png') no-repeat;
            display:inline-block;
        }
    }
    .inp-money {
        position: relative;
        height: 4rem;
        border: solid 1px #e9e9e9;
        border-radius: .4rem;
        line-height: 4rem;
        font-size: 1.3rem;
        width: 100%;
        box-sizing: border-box;
        input {
            height: 3.8rem;
            padding-right: 4rem;
            border: none;
            border-radius: .6rem;
            line-height: 3.8rem;
            vertical-align: top;
            outline: none;
            color: $main-color;
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
            text-align: right;
        }
        .t-txt {
            position: absolute;
            right: 1rem;
            top: .6rem;
            height: 2.6rem;
            color: $sub-color3;
            line-height: 26px;
        }
    }
}
.box-input-cont2 {
    .inp-money, .inp-search {
        position: relative;
        height: 4rem;
        border: solid 1px #e9e9e9;
        border-radius: .4rem;
        line-height: 4rem;
        font-size: 1.3rem;
        width: 100%;
        box-sizing: border-box;
        input {
            height: 3.8rem;
            padding-right: 4rem;
            border: none;
            border-radius: .6rem;
            line-height: 3.8rem;
            vertical-align: top;
            outline: none;
            font-size: 1.3rem;
            font-weight: $font-weight-bold;
        }
        .btn-search1 {
            position: absolute;
            right: .5rem;
            top: 0;
            width: 4rem;
            height: 4rem;
            background:url($img-root + 'icon/icon-btn-search.png') no-repeat;
            background-position: center center;
            display:inline-block;
            &:active {opacity: .7;}
            & span {
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;
            }
        }
    }
}
.box-gray {
    position: relative;
    z-index: -1;
    padding: 2.4rem;
    background-color: #FAF9F8;
    border-radius: .4rem;
    &.ty1 {padding:1.4rem 1.6rem;margin-bottom:1rem;z-index: 0;}
    .box-gray-tit {
        font-weight: $font-weight-medium;
    }
    .box-txt-ty1 {
        padding: 3rem 0;
        color: #222;
        font-weight: $font-weight-regular;
    }
}
.file-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    & > li {
        position: relative;
        height: 2.9rem;
        margin: .2rem 1rem .2rem 0;
        padding: .4rem 3.9rem .7rem 1rem;
        border-radius: .2rem;
        background-color: #FAF9F8;
        display: inline-block;
        
        &::before {
            content:"";
            width:1.2rem;
            height:1.5rem;
            margin-right: .5rem;
            background:url($img-root + 'icon/icon-clip.png') no-repeat;
            display: inline-block;
            vertical-align: -.2rem;
            background-size: 1.1rem 1.5rem;
        }
        &:last-child {margin-left: 0;}
        .btn-file-del {
            position: absolute;
            right:0;
            top:0;
            width:3.9rem;
            height:2.9rem;
            background:url($img-root + 'icon/icon-file-del.png') no-repeat;
            background-position: right 1.3rem top .8rem;
            background-size: 1.1rem 1.1rem;
            & > span {
                position: absolute;
                width: .1rem;
                height: .1rem;
                padding: 0;
                margin: -.1rem;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;
            }
        }
    }
}
.color-main {
    color: $main-color;
}
.color-gray {
    color: $sub-color3;
}
.txt-sub-color3 {
    font-size: 1.3rem;
    color: $sub-color3;
}
.txt-point-color {
    font-size: 1.8rem;
    color: $main-color;
    font-weight: $font-weight-bold;
}
.price-ty2 {
    font-weight: $font-weight-medium;
    & > span {
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
    }
}
.ul-list {
    
    .tit-normal {
        &:first-child {padding-top: 0;}
        padding-top: 4rem;
        padding-bottom: 2.4rem;
        font-weight: $font-weight-bold;
    }
    .textarea-views {
        white-space: pre-line;
        font-size: 1.3rem;
        color: $sub-color1;
        line-height: 2.6rem; 
    }
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.filebox label {
    cursor: pointer;
    display: inline-block;
    color: $font-color-black;
    font-weight: $font-weight-bold;
    &> span {vertical-align: -.2rem;}
    &::after {
        content:"파일선택 ";
        width:5.4rem;
        height:2.2rem;
        margin-left: .6rem;
        padding-right: .2rem;
        background: #FAF9F8;
        border: 1px solid #E9E9E9;
        border-radius: 2px;
        display: inline-block;
        font-size: 1.1rem;
        text-align: center;
    }
}
.custom-select-box.inline-ty1 {
    display: inline-block;
}

.tit-h3 {
    font-size: 2.6rem;
}
.tit-h4 {
    font-size: 2rem;
}
.tit-h4 + .txt-sub {
    margin-top: 1rem;
}
.txt-sub {
    color: $sub-color1;
    font-size: $font-size-small;
}
.txt-sub2 {
    padding-top: 1rem;
    color: $sub-color1;
    font-size:1.3rem;
}
.tab-list.tab-ty2 {
    & > ul {
        display: flex;
        text-align: left;
        & > li {
            width: 100%;
            background-color: #fff;
            
            border-color: #E9E9E9;
            border-radius: .4rem .4rem 0 0;
            text-align: left;
            &.on {
                border-width: .2rem;
                border-color: $main-color;
                &::after, &::before {
                    bottom: 0;
                    height: .2rem;
                    background-color: $main-color;
                }
            }
            & > a {
                width: 100%;
                height: 10.5rem;
                padding: 2.6rem 2rem 0;
                color: $font-color-black;
                & > .tab-tit {
                    display: block;
                    font-size: $font-size-title-small;
                    & > em {
                        float: right;
                        color: $main-color;
                        font-style: normal;
                    }
                }
                & > .tab-sub-txt {
                    display: block;
                    margin-top: 1rem;
                    color: $sub-color1;
                    font-size: $font-size-small;
                }
            }
        }
    }

}
.tab-content.tab-cont-ty2 {
    & > div{
        padding-left: 1.7rem;
        padding-right: 1.7rem;
    }
}
.flag-ing {
    display: inline-block;
    height: 2rem;
    margin-left: .5rem;
    padding: .3rem .8rem .5rem .8rem;
    background-color: #FFCC00;
    border-radius: 2.2rem;
    font-size: 1.1rem;
    vertical-align: top;

}

.box-tip-area {
    position: relative;
    padding: 1.9rem 2.1rem;
    background-color: #FAF9F8;
    border-radius: .8rem;
    &:before {
        position: absolute;
        left: -1.4rem; 
        top: 2rem; 
        content: '';
        width: 0;
        height: 0;
        border-top: .8rem solid transparent;
        border-right: 1.6rem solid #FAF9F8;
        border-bottom: .8rem solid transparent;
    }
}
.list-btn-area {
    
    padding-top: 1.5rem;
    & > li {
        &:first-child {margin-top: 0;}
        display: flex;
        justify-content: space-between;
        align-items: center; 
        margin-top: 1rem;
        height: 4.8rem;
        padding: 1rem 2rem 1rem 5.6rem;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 2rem 1.2rem;
        border-radius: .9rem;
        font-weight: $font-weight-bold;
        &:nth-child(1) {background-image:url($img-root + 'icon/icon-time1.png');}
        &:nth-child(2) {background-image:url($img-root + 'icon/icon-time2.png');}
        &:nth-child(3) {background-image:url($img-root + 'icon/icon-time3.png');}
    }
}
.wid-sm {width: 34.1rem;}
.byte-count {
    margin-top: 1rem;
    color: $sub-color1;
    font-size: $font-size-small;
    text-align: right;
}
.box-chk-list {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top:1rem;
    &> .form-chk2 {
        padding: .8rem 0;
        display: inline-block;
        input[type=checkbox]+label {
            font-size:$font-size-normal;
            font-weight: $font-weight-bold;
        }            
    }
}
.box-chk-list2 {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: self-start;
    width: 100%;
    margin-top: -.3rem;
    & > li:nth-child(5n+0){
        width: 16%;
    }
    & > li {
        width:21%;
        padding: .3em 0;
        & .form-chk {
            display: inline-block;
            letter-spacing: -.2rem;
            & + .form-chk {margin-left: .5rem;}
        }

    }
    &> .form-chk2 {
        padding: .8rem 0;
        display: inline-block;
    }
}
.form-gap {
    display: inline-block;
    padding: 0 .1rem;
}
.gap-input { padding: .4rem 0;}
.pdt-30 {padding-top: 3rem;}
.point-push {
    position: relative;
    &::after {
        position: absolute;
        content:"";
        left: 2.4rem;
        top: .7rem;
        z-index: -1;
        display: inline-block;
        width: calc(100% - 2.4rem);
        height:.8rem;
        margin-right:.8rem;
        background-color: #FFCC00;
    }
}
span.point-push {
    position: relative;
    &::after {
        position: absolute;
        content:"";
        left: 0;
        top: .7rem;
        z-index: -1;
        display: inline-block;
        width: 100%;
        height:.8rem;
        margin-right:.8rem;
        background-color: #FFCC00;
    }
}

.input-price-area {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.btn-pm-area {
    position: relative;
    display: inline-block;
    width: 2.8rem;
    height: 5.6rem;
    border: .1rem solid #E9E9E9;
    border-radius: .2rem;
    &::before {
        content:"";
        position: absolute;
        left:0rem;
        top: 2.8rem;
        width: 100%;
        height: .1rem;
        background-color: #E9E9E9;
    }
    & > button {
        position: relative;
        width: 2.6rem;
        height: 2.6rem;
        &:active {opacity: .6;}
        & > span {
            opacity: 0;
            position: absolute;
            display: block;
            width: 1px;
            height: 1px;
            overflow: hidden;
            color: rgba(0,0,0,0);
        }
        &.btn-plus {
            &::before {
                content:"";
                position: absolute;
                left:.9rem;
                top: 1.3rem;
                width: .9rem;
                height: .1rem;
                background-color: #4f4f4f;
            }
            &::after {
                content:"";
                position: absolute;
                left:1.3rem;
                top: .9rem;
                width: .1rem;
                height: .9rem;
                background-color: #4f4f4f;
            }
        }
        &.btn-minus {
            &::before {
                content:"";
                position: absolute;
                left:.9rem;
                top: 1.4rem;
                width: .9rem;
                height: .1rem;
                background-color: #4f4f4f;
            }
        }
    }
}
.tbl-th-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    & > span {
        display: block;
        width: 100%;
        padding: 1.5rem .4rem;
        color: $sub-color2;
        font-size: 1.3rem;
    }
}
.top-bg-item {
    position: relative;
    &::before {
        content:"";
        position: absolute;
        z-index: 1;
        left:.0;
        top: 0;
        width: 100%;
        height: 1rem;
        background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.0));
    }
  }
  .bottom-bg-item {
    position: relative;
    &::after {
        content:"";
        position: absolute;
        z-index: 1;
        left:.0;
        bottom: 0;
        width: 100%;
        height: 1rem;
        background: linear-gradient(rgba(255,255,255,.0), rgba(255,255,255,1));
    }
  }


.seacrh-item {
    display: flex;
    justify-content: flex-start;
    align-items: self-start;
    border: .1rem solid #E9E9E9;
    border-radius: .4rem;
    & > li {
        width: 100%;
        height: 36rem;
        border-left: 1px solid #E9E9E9;
        &:first-child {border-left: 0;}
        &.active {
            .seacrh-tit {
                background-color: $bg-color-white;
                color: $main-color;
                font-weight: $font-weight-bold;
            }
        }
        .seacrh-tit {
            height: 5.2rem;
            padding: 1.4rem .5rem;
            background-color: #FAF9F8;
            color: #222;
            font-size: $font-size-xlarge;
            text-align: center;
            font-weight: $font-weight-medium;

        }
        .search-cont-inner {
            height: 30.7rem;
            &.ty-nodata { 
                .no-data {
                    width: 100%;
                    height: 30.7rem;
                    color: #888;
                    font-size: $font-size-large;
                    line-height: 30.7rem;
                    text-align: center;
                    display: block;
                }
            }
            .no-data {display: none;}
        }
        .search-list-group {
            &:last-child {padding-bottom: 2rem;}
            & > p {
                padding: 2rem;
                font-size: 1.5rem;
                font-weight: $font-weight-bold;
            }
            & > ul {
                width: 29.6rem;
                padding: 0 0 0 2rem;
                & > li + li {margin-top: .5rem;}
            }
        }
    }
}
.search-btn-item {
    display: flex;
    justify-content: flex-start;
    align-items: self-start;
    margin: 2rem 0 1rem;
    & > div {
        width: 100%;
        position: relative;
        margin-left: 1rem;
        &:first-child {margin-left:0;}
        & > button {
            width: 100%;
            height: 4.6rem;
            border: 1px solid #E9E9E9;
            border-radius: .4rem;
            font-size: 1.4rem;
            font-weight: $font-weight-bold;
            text-align: center;
            line-height: 4.4rem;
                &::before {
                display: inline-block;
                content:"";
                width:1.9rem;
                height:1.8rem;
                margin-right:.3rem;
                background-repeat: no-repeat;
                vertical-align: sub;
            }
        }
        &:nth-child(1) > button::before {background-image:url($img-root + 'icon/icon-sh01-model.png');}
        &:nth-child(2) > button::before {background-image:url($img-root + 'icon/icon-sh02-mile.png');}
        &:nth-child(3) > button::before {background-image:url($img-root + 'icon/icon-sh03-price.png');}
        &:nth-child(4) > button::before {background-image:url($img-root + 'icon/icon-sh04-fuel.png');}
        &:nth-child(5) > button::before {background-image:url($img-root + 'icon/icon-sh05-color.png');}
        &:nth-child(6) > button::before {background-image:url($img-root + 'icon/icon-sh06-area.png');}
        &:nth-child(7) > button::before {background-image:url($img-root + 'icon/icon-sh07-sale.png');}
        &:nth-child(8) > button::before {background-image:url($img-root + 'icon/icon-sh08-geerbox.png');}
        &:nth-child(9) > button::before {background-image:url($img-root + 'icon/icon-sh09-option.png');}

        & > button.active {
            border: 1px solid #FFDFD0;
            color: $main-color;
        }
        &:nth-child(1) > button.active::before {background-image:url($img-root + 'icon/icon-sh01-model-on.png');}
        &:nth-child(2) > button.active::before {background-image:url($img-root + 'icon/icon-sh02-mile-on.png');}
        &:nth-child(3) > button.active::before {background-image:url($img-root + 'icon/icon-sh03-price-on.png');}
        &:nth-child(4) > button.active::before {background-image:url($img-root + 'icon/icon-sh04-fuel-on.png');}
        &:nth-child(5) > button.active::before {background-image:url($img-root + 'icon/icon-sh05-color-on.png');}
        &:nth-child(6) > button.active::before {background-image:url($img-root + 'icon/icon-sh06-area-on.png');}
        &:nth-child(7) > button.active::before {background-image:url($img-root + 'icon/icon-sh07-sale-on.png');}
        &:nth-child(8) > button.active::before {background-image:url($img-root + 'icon/icon-sh08-geerbox-on.png');}
        &:nth-child(9) > button.active::before {background-image:url($img-root + 'icon/icon-sh09-option-on.png');}

        .list-option {
            display: none;
            position: absolute;
            left:0;
            top:4.6rem;
            width: 36rem;
            min-height: 18.6rem;
            max-height: 46.4rem;
            padding: 2.4rem;
            background-color: white;
            filter: drop-shadow(0px 4px 8px rgba(153, 153, 153, 0.4));
            color: $font-color-black;
            text-align: left;
            z-index: 1;
            &.ty-full {
                left: unset;
                right:0;
                width:126rem;
            }
            & > .btn-layer-close {
                position: absolute;
                top: 2.4rem;
                right: 2.4rem;
                border: none;
                width: 2rem;
                height: 2rem;
                display: block;
                background: url($img-root + 'icon/popup-close-icon.png') no-repeat center center;
                font-size: 0;
                text-indent: -9999rem;
                z-index: 1;
            }
            .list-tit {
                font-size: $font-size-large;
                font-weight: $font-weight-bold;
            }
            .list-cont {
                margin-top: 2.4rem;
            }
            .sel-wid {
                .select2 .selection .select2-selection--single {width:25rem;}
            }
        }
    }
}
.layer-item {
    position: relative;
    display: inline-block;
    .layer-option {
        &.active {display: block;}
        display: none;
        position: absolute;
        left:.5rem;
        top:3.8rem;
        width: 72rem;
        height: 62rem;
        padding: 3rem 2.4rem 4rem 3rem;
        background-color: white;
        filter: drop-shadow(0px 4px 8px rgba(153, 153, 153, 0.4));
        color: $font-color-black;
        text-align: left;
        z-index: 3;
        & > .btn-layer-close {
            position: absolute;
            top: 2.4rem;
            right: 2.4rem;
            border: none;
            width: 2rem;
            height: 2rem;
            display: block;
            background: url($img-root + 'icon/popup-close-icon.png') no-repeat center center;
            font-size: 0;
            text-indent: -9999rem;
            z-index: 1;
        }
        .list-tit {
            font-size: $font-size-large;
            font-weight: $font-weight-medium;
        }
        .list-tit-s {
            color: $font-color-light-gray;
            font-size: $font-size-small;
            font-weight: $font-weight-regular;
        }
        .list-cont {
            margin-top: 2.4rem;
        }
    }
}

.favorites-item {
    position: relative;
    //display: inline-block;
    .favorites-option {
        &.active {display: block;}
        //display: none;
        position: absolute;
        right: 0;
        top:1rem;
        width: 36rem;
        height: 58.6rem;
        background-color: white;
        filter: drop-shadow(0px 4px 8px rgba(153, 153, 153, 0.4));
        color: $font-color-black;
        text-align: left;
        z-index: 3;
        & > .btn-layer-close {
            position: absolute;
            top: 2.4rem;
            right: 2.4rem;
            border: none;
            width: 2rem;
            height: 2rem;
            display: block;
            background: url($img-root + 'icon/popup-close-icon.png') no-repeat center center;
            font-size: 0;
            text-indent: -9999rem;
            z-index: 1;
        }
        .list-tit {
            padding:3rem;
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
        }
        .list-cont {
            margin-top: 2.4rem;
        }
        .layer-btn-area {
            position: absolute;
            bottom: 0;
            left:0;
            width: 100%;
            height: 9rem;
            padding: 2.4rem 0;
            background-color: white;
            border-top: 1px solid #E9E9E9;
            text-align: center;
            & > button {min-width: 16rem;}
        }
        .favorites-th {
            display: flex;
            justify-content: space-between;
            align-items: center; 
            position: relative;
            border-bottom: .1rem solid #E9E9E9;
            & > span {
                display: block;
                padding: 1.2rem 3rem;
                color: #757575;
                font-size: 1.2rem;
                &.ty-align {
                    padding-left: 9px;
                    width: 180px;
                }
            }
        }
        .favorites-menu {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            position: relative;
            width: 100%;
            height: 37.4rem;

            & > .favorites-lft {
                width: 8.5rem;
                height: 37.4rem;
                background-color: #FAF9F8;
                overflow: hidden;
                .favorites-navbar {
                    & > li {
                        height: auto;
                        &.swiper-slide-thumb-active, .swiper-slide-visible {
                            & > a {
                                background-color: white;
                                color: $main-color;
                                font-weight: $font-weight-bold;
                                & > strong {color: $main-color;}
                            }
                        }
                        & > a {
                            display: block;
                            height: 3.8rem;
                            color: $sub-color2;
                            line-height: 3.8rem;
                            text-align: center;
                            font-size: 1.3rem;
                            & > strong {color:$font-color-black;}
                            &.active, .swiper-slide-thumb-active, .swiper-slide-visible {
                                background-color: white;
                                color: $main-color;
                                font-weight: $font-weight-bold;
                                & > strong {color: $main-color;}
                            }
                        }
                    } 
                }
            }
            & > .favorites-rht {
                width: 27.5rem;
                height: 37.4rem;
                overflow: hidden;
                .favorites-list {
                    width: 27.5rem;
                    height: auto;
                    min-height: 37.4rem;
                    padding: 0 1.6rem;
                    & > a {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color:$font-color-black;
                        font-size: 1.3rem;
                        line-height: 3.8rem;
                        &::after {
                            content:"";
                            width:1.6rem;
                            height:1.6rem;
                            margin-right: 1.3rem;
                            background:url($img-root + 'icon/icon-like-off.png') no-repeat;
                            display: inline-block;
                            vertical-align: -.2rem;
                            background-size: 1.6rem 1.6rem;
                        }
                        &.active {
                            &::after {
                                background:url($img-root + 'icon/icon-like-on.png') no-repeat;
                            }
                        }
                    }
                }
            }
        }
    }
}
.txt-del-item {
    display: block;
    color: #222;
    font-size: $font-size-normal;
    font-weight: $font-weight-bold;
    &:active {
        opacity: .7;
    }
    &::after {
        content:"";
        width:2rem;
        height:2rem;
        margin-left: .7rem;
        background:url($img-root + 'icon/icon-x-circle.png') no-repeat;
        display: inline-block;
        vertical-align: -.2rem;
        background-size: 2rem 2rem;
        vertical-align: top;
    }
}

.txt-del-item + .txt-del-item, .txt-del-item + .txt-etc {margin-top:1rem;}
.txt-etc + .txt-del-item {margin-top:4rem;}
.txt-etc {
    & > span{
        padding: .5rem 0;
        font-size:1.4rem;
        color:#222;
        line-height: 1.4rem;
        font-weight: 400;
        display: inline-block;
        &::after{
            content:'';
            width:.1rem;
            height:1rem;
            background-color:#ccc;
            display:inline-block;
            margin:0 0.8rem;
        }
        &:last-child::after{
            display:none;        
        }
    }
}
.i-no-data {
    padding:25rem 0 17rem;
    background:url($img-root + 'icon/icon-nodata.png') no-repeat;
    background-position: center 15rem;
    font-size: 1.8rem;
    line-height: 2.6rem;

}
.favorites-no-data {
    padding:17.7rem 0 0;
    background:url($img-root + 'icon/icon-nodata2.png') no-repeat;
    background-position: center 12.5rem;
    font-size: 1.5rem;
    text-align: center;
    > span {
        display: block;
        margin-top:1.2rem;
        font-size: 1.3rem;
        color: $sub-color2;
    }

}
.hover-item {
    position: relative;
    &:hover {
        .hover-box {display: block;}
    }
    .hover-box {
        display: none;
        position: absolute;
        top: -50%;
        left: calc(100% + 2rem);
        z-index: 3;
        width: 30rem;
        padding: 1.3rem 1.5rem;
        box-sizing: border-box;
        background: #F7CE45;
        filter: drop-shadow(0px 4px 8px rgba(153, 153, 153, 0.4));
        border-radius: .4rem;
        color: #4f4f4f;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: left;
        &::after {
            content: "";
            width: 0.84rem;
            height: 0.84rem;
            display: block;
            position: absolute;
            transform: rotate(45deg);
            background: #F7CE45;
            top: calc(50% - .4rem);
            left: -.4rem;
        }
    }
}
.list-unit {font-size: $font-size-large;font-weight: $font-weight-bold;}

.icon-refresh {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-right:.4rem;
    background:url($img-root + 'icon/icon-fi-refresh.png') no-repeat;
    background-size: 1.2rem 1.2rem;
    vertical-align: -.1rem;
}
.icon-search {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-right:.4rem;
    background:url($img-root + 'icon/icon-fi-search.png') no-repeat;
    background-size: 1.2rem 1.2rem;
    vertical-align: -.1rem;
}
.icon-tel {
    display:inline-block;
    width:2.1rem;
    height:2rem;
    background:url($img-root + 'icon/icon-tel.png') no-repeat;
    position:relative;
    vertical-align: -.4rem;
}
.title-ty1 {
    font-size: 0;
    h2 {display: inline-block; vertical-align: middle;}
    h2 + button {margin-left: 1rem;}
    button {margin-left: .5rem; vertical-align: middle;}
}
.gap-btn {margin-left: 1rem;}

.txt-link-underline {
    color:#757575;
    font-size: 1.3rem;
    text-decoration: underline;
    display: inline-block;
}
.txt-link-item {
    margin: 0 3rem;
    & a{
        display: inline-block;
        color:#4F4F4F;
        font-size:1.3rem;
        line-height: 1.4rem;
        font-weight: 500;
        &:active {opacity: .8;}
        &::before{
            content:'';
            width:.1rem;
            height:1rem;
            background-color:#ccc;
            display:inline-block;
            margin:0 .8rem;
        }
        &:first-child::before{
            display:none;        
        }
    }
}

.table-dl-ty1 {
    border: 1px solid #E9E9E9;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 18rem;
    border-bottom: 0;
    & > dt, > dd {
        border-bottom: 1px solid #E9E9E9;
        display: block;
        padding: .8rem 1.5rem;
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.4rem;
        font-weight: $font-weight-regular;
    }
    & > dt {
        width: 45%;
        background-color: #FAF9F8;
        border-right: 1px solid #E9E9E9;
        color: $font-color-light-gray;
    }
    & > dd {
        width: 55%;
        color: #222;
    }
}
.table-dl-ty2 {
    & > dt, > dd {
        display: block;
        text-align: center;
        line-height: 1.4rem;
    }
    & > dt {
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        & > span {
            display: block;
            padding-top: 1rem;
            color: $font-color-light-gray;
            font-size: $font-size-normal;
            font-weight: $font-weight-regular;
        }
    }
    & > dd {
        padding: 1rem .3rem;
        margin-top:2rem;
        border-top: .1rem solid #E9E9E9;
        border-bottom: .1rem solid #E9E9E9;
        color: $main-color;
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
    }
}
.tooltip-tit {
    display: inline-block;
    margin-bottom: 1.2rem;
    color: $font-color-black;
    font-size:1.5rem;
    font-weight: $font-weight-bold;
}
.text-decoration-none {text-decoration: none !important;}
.select-option-list {
    & > a {
        display: inline-block;
        margin-right:2rem;
        color: #222;
        font-weight: $font-weight-bold;
        &:active {
            opacity: .7;
        }
        &::after {
            content:"";
            width:2rem;
            height:2rem;
            margin-left: .7rem;
            background:url($img-root + 'icon/icon-x-circle.png') no-repeat;
            display: inline-block;
            vertical-align: -.2rem;
            background-size: 2rem 2rem;
            vertical-align: top;
        }
    }
}

.color {
    display: inline-block;
    width:1.8rem;
    height:.8rem;
    vertical-align: 1px;
    &.blackColor {
        background-color: #000000;
    }
    &.whiteColor {
        background-color: #fff;
        border: .1rem solid #DDD;
        box-sizing: border-box;
    }
    &.silverColor {
        background-color: #F1F1F1;
    }
    &.pearlColor {
        background-color: #F6F5ED;
    }
    &.grayColor {
        background-color: #CDCDCD;
    }
    &.redColor {
        background-color: #FF0000;
    }
    &.blueColor {
        background-color: #2F7CFE;
    }
    &.orangeColor {
        background-color: #FF5D16;
    }
    &.brownColor {
        background-color: #834700;
    }
    &.greenColor {
        background-color: #2AD200;
    }
    &.yellowColor {
        background-color: #F7CE45;
    }
    &.purpleColor {
        background-color: #9345F7;
    }
    
} 

