<div class="wrapper">
    <div class="all-menu-btns">
        <a href="javacript:;">
            <i><img src="/UIDev/v3/images/icon/icon-home.png" alt="home"></i>홈
        </a>
        <a href="javacript:;">
            <i><img src="/UIDev/v3/images/icon/icon-btn-search.png" alt="search"></i>검색
        </a>
    </div>
    <ul class="menu-area">
        <li>
            <h3 class="title">내차관리</h3>
            <ul class="depth02">
                <li>
                    <a href="javascript:;">광고중</a>
                </li>
                <li>
                    <a href="javascript:;">광고등록</a>
                </li>
                <li>
                    <a href="javascript:;">진단광고관리</a>
                </li>
            </ul>
        </li>
        <li>
            <h3 class="title">상담관리</h3>
            <ul class="depth02">
                <li>
                    <a href="javascript:;">상담관리</a>
                </li>
                <li>
                    <a href="javascript:;">딜러홈 관리</a>
                </li>
                <li>
                    <a href="javascript:;">구해줘 관리</a>
                </li>
            </ul>
        </li>
        <li>
            <h3 class="title">경매</h3>
            <ul class="depth02">
                <li>
                    <a href="javascript:;">경매홈</a>
                </li>
                <li>
                    <a href="javascript:;">경매장</a>
                </li>
                <li>
                    <a href="javascript:;">내입찰</a>
                </li>
                <li>
                    <a href="javascript:;">내거래</a>
                </li>
            </ul>
        </li>
        <li>
            <h3 class="title">안내</h3>
            <ul class="depth02">
                <li>
                    <a href="javascript:;">딜러공지사항</a>
                </li>
                <li>
                    <a href="javascript:;">고객센터</a>
                </li>
                <li>
                    <a href="javascript:;">KB코인관리</a>
                </li>
                <li>
                    <a href="javascript:;">패널티관리</a>
                </li>
                <li>
                    <a href="javascript:;">설정</a>
                </li>
            </ul>
        </li>
    </ul>
</div>