<div class="header-area-grid">
    <h1 class="header-logo"><a href="javascript:void(0);"><img src="/UIDev/v3/images/common/bi.png" alt=""></a></h1>
    <nav class="header-nav">
        <ul class="gnb-menu">
            <li><a href="javascript:void(0);">홈</a></li>
            <li><a href="javascript:void(0);">검색</a></li>
            <li><a href="javascript:void(0);">내차관리</a></li>
            <li><a href="javascript:void(0);">상담관리</a></li>
            <li>
                <a href="javascript:void(0);">경매</a>
                <ul class="menu-depth2">
                    <li class="active"><a href="javascript:void(0)">경매 홈</a></li>
                    <li><a href="javascript:void(0)">경매장</a></li>
                    <li><a href="javascript:void(0)">내 입찰</a></li>
                    <li><a href="javascript:void(0)">내 거래</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0);">안내</a></li>
        </ul>

        <div class="gnb-util">
            <div class="membrt-info"><strong>심은정</strong>딜러님</div>
            <a href="javascript:void(0);" class="navigation-util"><i class="icon-common sign-out"></i>로그아웃</a>
        </div>

        <div class="navigation-quick">
            <a href="/public/event/basicMaster.kbc">이벤트</a>
            <a href="/public/notice/list.kbc">새소식</a>
            <!--230314 수정 : class, data-target 추가-->
            <a href="javascript:void(0);" class="pop-btn-js all-menu" data-target="#all-menu-pop">전체서비스</a>
            <!--// 230314 수정 : class, data-target 추가-->
        </div>
    </nav>
</div>