<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    
    <title>KB차차차</title>

    <link rel="stylesheet" href="/UIDev/vendor/jquery-ui/v1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="/UIDev/vendor/jquery.mCustomScrollbar/v3.1.5/jquery.mCustomScrollbar.min.css">
    <!--230616 수정 : css 추가-->
    <link rel="stylesheet" href="/UIDev/vendor/select2/v4.0.2/css/select2.min.css.css" />
    <!-- //230616 수정 : css 추가-->
    <link rel="stylesheet" href="/UIDev/v3/css/style.min.css"> <!-- [D] style.min.css 가 css 중 가장 밑에 위치 -->

    <script type="text/javascript" src="/UIDev/vendor/jquery/v1.12.4/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/UIDev/vendor/jquery-ui/v1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/UIDev/vendor/form/v3.5.1/jquery.form.js"></script>
    <script type="text/javascript" src="/UIDev/vendor/select2/v4.0.2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="/UIDev/vendor/jquery.mCustomScrollbar/v3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/UIDev/v3/js/ui-common.min.js"></script> <!-- [D] ui-common.min.js 가 js 중 가장 밑에 위치 -->

</head>

<body class="only-pub"> <!-- [D] 개발 시에는 only-pub 클래스 제거 -->
    <button type="button" class="btn-type01 sm pop-btn-js" data-target="#price-rev01">일반차량 가격 수정</button>
    <button type="button" class="btn-type01 sm pop-btn-js" data-target="#price-rev02">특가차량 가격 수정</button>
    <button type="button" class="btn-type01 sm pop-btn-js" data-target="#price-rev03">KB인증차량 가격 수정</button>
    <button type="button" class="btn-type01 sm pop-btn-js" data-target="#price-rev06">KB인증차량 특가 가격 수정</button>
    <button type="button" class="btn-type01 sm pop-btn-js" data-target="#price-rev04">운용리스 CASE</button>
    <button type="button" class="btn-type01 sm pop-btn-js" data-target="#price-rev05">금융리스 CASE</button>
    <!--popup-->
    <div class="popup-bg" style="display:block;"></div>
    <div class="popup" id="price-rev01"  style="display:block;">
        <a href="javascript:;" class="popup-close-btn close-btn">popup close</a>
        <h2 class="popup-title">차량 가격 수정</h2>
        <div class="popup-body">
            <div class="inner">
                <div class="sell-price-area">
                    <p class="tit">판매 가격</p>
                    <p class="input-area">
                        <input type="number" value="2430">만원
                    </p>                    
                </div>
                <!--23030704 수정 : 추가-->
                <figure class="form-chk special-price-check">
                    <input type="checkbox" id="specialPriceCheck00" />
                    <label for="specialPriceCheck00" >특가차량 신청</label>
                </figure>
                <!-- //23030704 수정 : 추가-->
                <div class="sell-price-txt-ballon">
                    <div class="ad-area">
                        <span>AD</span>특가차량으로 광고 노출도를 더욱 높여보세요!
                    </div>
                    <div class="special-price-car-area">
                        <p class="tit">특가차량 신청</p>
                        <div class="form-box">
                            <!--23030704 수정 -->
                            <p class="input-area short disabled">
                                <input type="number" disabled>만원
                                
                            </p>
                            <!--23030704 수정 -->
                            <button type="button" class="btn-type02 sm">신청</button>
                        </div>
                    </div>
                    <ul class="dot-txt">
                        <li>특가차량테마 구역에 차량이 노출됩니다.</li>
                        <li>현재 판매금액보다 적은 금액만 입력할 수 있습니다.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="popup-btn">
            <button type="button" class="btn-type03 popup-close-btn">취소</button>
            <button type="button" class="btn-type01">확인</button>
        </div>
    </div>
    <div class="popup" id="price-rev02">
        <a href="javascript:;" class="popup-close-btn close-btn">popup close</a>
        <!--23030704 수정-->
        <h2 class="popup-title">특가 가격 수정</h2>
        <!-- //23030704 수정-->
        <div class="popup-body">
            <div class="inner">
                <div class="sell-price-area">
                    <!--23030704 수정-->
                    <p class="tit">판매 원가</p>
                    <p class="input-area dis_inline del">
                        <input type="number" value="2430">만원
                    </p>
                    <!-- //23030704 수정-->

                    <!--23030704 수정 : 추가-->
                    <button class="btn-type02">특가취소</button>
                    <!--23030704 수정 : 추가-->
                </div>

                <div class="sell-price-txt-ballon">
                    <!--23030704 수정 : 삭제-->
                    <!-- <div class="ad-area">
                        <span>AD</span>특가차량으로 광고 노출도를 더욱 높여보세요!
                    </div> -->
                    <!--23030704 수정 : 삭제-->
                    <div class="special-price-car-area">
                        <!--23030704 수정 -->
                        <p class="tit">특가가격 수정</p>
                        <!--23030704 수정 -->
                        <div class="form-box">
                            <p class="input-area">
                                <input type="number" value="3350">만원
                            </p>
                            <!--23030704 수정 : 삭제-->
                            <!-- <button type="button" class="btn-type02 sm">취소</button> -->
                            <!--23030704 수정 : 삭제-->
                        </div>
                    </div>
                    <ul class="dot-txt">
                        <!--23030704 수정 -->
                        <li>특가차량은 판매원가보다 높은 금액으로 수정할 수 없습니다.</li>
                        <!--23030704 수정 -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="popup-btn">
            <button type="button" class="btn-type03 popup-close-btn">취소</button>
            <!--230704 수정-->
            <button type="button" class="btn-type01 fixed-btn">수정</button>
            <!-- // 230704 수정-->
        </div>
    </div>
    <div class="popup" id="price-rev03">
        <a href="javascript:;" class="popup-close-btn close-btn">popup close</a>
        <h2 class="popup-title">차량 가격 수정</h2>
        <div class="popup-body pop-scroll">
            <div class="inner">
                <div class="sell-price-area">
                    <p class="tit">현금 판매가</p>
                    <p class="input-area">
                        <input type="number" value="2430">만원
                    </p>
                </div>
                <!--23030704 수정 : 추가-->
                <figure class="form-chk special-price-check">
                    <input type="checkbox" id="specialPriceCheck01" />
                    <label for="specialPriceCheck01">특가차량 신청</label>
                </figure>
                <div class="sell-price-txt-ballon">
                    <div class="ad-area">
                        <span>AD</span>특가차량으로 광고 노출도를 더욱 높여보세요!
                    </div>
                    <div class="special-price-car-area">
                        <p class="tit">특가차량 신청</p>
                        <div class="form-box">
                            <p class="input-area short">
                                <input type="number">만원
                                
                            </p>
                            <button type="button" class="btn-type02 sm">신청</button>
                        </div>
                    </div>
                    <ul class="dot-txt">
                        <li>특가차량테마 구역에 차량이 노출됩니다.</li>
                        <li>현재 판매금액보다 적은 금액만 입력할 수 있습니다.</li>
                    </ul>
                </div>
                <!-- //23030704 수정 : 추가-->
                <!--2300704 수정 : class="sell-price-txt-ballon gray" layout삭제-->
                <div class="special-price-car-area none-flex">
                    <!--23030704 수정-->
                    <p class="tit">금융제공 여부</p>
                    <!--//23030704 수정-->
                    <div class="form-box">
                        <div class="form-radio">
                            <input type="radio" id="finance1" name="finance" value="finance">
                            <label for="finance1">표기안함</label>
                        </div>
                        <div class="form-radio">
                            <input type="radio" id="finance2" name="finance" value="finance">
                            <label for="finance2">인증리스</label>
                        </div>
                        <div class="form-radio">
                            <input type="radio" id="finance3" name="finance" value="finance">
                            <label for="finance3">인증렌트</label>
                        </div>
                    </div>
                    <ul class="dot-txt">
                        <li>선수금 30% / 48개월 기준</li>
                    </ul>
                </div> 
                <div class="special-price-car-area">
                    <p class="tit">월 납입액</p>
                    <div class="form-box">
                        <p class="input-area">
                            <input type="number" value="3350">만원
                        </p>
                    </div>
                </div>  
                <div class="special-price-car-area">
                    <p class="tit">금융이용 할인금액</p>
                    <div class="form-box">
                        <p class="input-area">
                            <input type="number" value="3350">만원
                        </p>
                    </div>
                </div>
                <!-- // 2300704 수정 : class="sell-price-txt-ballon gray" layout삭제-->
            </div>
        </div>
        <div class="popup-btn">
            <button type="button" class="btn-type03 popup-close-btn">취소</button>
            <button type="button" class="btn-type01">확인</button>
        </div>
    </div>
    <!--230704 수정 case06 :  특가 가격 수정 케이스 추가-->
    <div class="popup" id="price-rev06">
        <a href="javascript:;" class="popup-close-btn close-btn">popup close</a>
        <h2 class="popup-title">특가 가격 수정</h2>
        <div class="popup-body pop-scroll">
            <div class="inner">
                <div class="sell-price-area">
                    <p class="tit">판매 원가</p>
                    <p class="input-area dis_inline del">
                        <input type="number" value="2430">만원
                    </p>
                    <button class="btn-type02">특가취소</button>
                </div>
                <div class="sell-price-txt-ballon">
                    <div class="special-price-car-area">
                        <p class="tit">특가가격 신청</p>
                        <div class="form-box">
                            <p class="input-area">
                                <input type="number" value="30350">만원
                                
                            </p> 
                        </div>
                    </div>
                    <ul class="dot-txt">
                        <li>특가차량은 판매원가보다 높은 금액으로 수정할 수 없습니다.</li>
                    </ul>
                </div>
                <div class="special-price-car-area none-flex">
                    <p class="tit">금융제공 여부</p>
                    <div class="form-box">
                        <div class="form-radio">
                            <input type="radio" id="finance1" name="finance" value="finance">
                            <label for="finance1">표기안함</label>
                        </div>
                        <div class="form-radio">
                            <input type="radio" id="finance2" name="finance" value="finance">
                            <label for="finance2">인증리스</label>
                        </div>
                        <div class="form-radio">
                            <input type="radio" id="finance3" name="finance" value="finance">
                            <label for="finance3">인증렌트</label>
                        </div>
                    </div>
                    <ul class="dot-txt">
                        <li>선수금 30% / 48개월 기준</li>
                    </ul>
                </div> 
                <div class="special-price-car-area">
                    <p class="tit">월 납입액</p>
                    <div class="form-box">
                        <p class="input-area">
                            <input type="number" value="3350">만원
                        </p>
                    </div>
                </div>  
                <div class="special-price-car-area">
                    <p class="tit">금융이용 할인금액</p>
                    <div class="form-box">
                        <p class="input-area">
                            <input type="number" value="3350">만원
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-btn">
            <button type="button" class="btn-type03 popup-close-btn">취소</button>
            <!--230704 수정-->
            <button type="button" class="btn-type01 fixed-btn">수정</button>
            <!-- // 230704 수정-->
        </div>
    </div>
    <!--230704 수정 case06 :  특가 가격 수정 케이스 추가-->
    <div class="popup" id="price-rev04">
        <a href="javascript:;" class="popup-close-btn close-btn">popup close</a>
        <h2 class="popup-title">차량 가격 수정</h2>
        <div class="popup-body">
            <div class="inner pop-scroll">
                <div class="sell-price-txt-ballon noBg">
                    <div class="special-price-car-area none-flex">
                        <p class="tit">리스 구분</p>
                        <div class="form-box">
                            <div class="form-radio">
                                <input type="radio" id="lease1"  checked name="lease" value="lease">
                                <label for="lease1">운용리스</label>
                            </div>
                            <div class="form-radio">
                                <input type="radio" id="lease2" name="lease" value="lease">
                                <label for="lease2">금융리스</label>
                            </div>
                        </div>
                    </div>
                    <div class="lease-price-area">
                        <div class="lease-price-box">
                            <p class="tit">월리스료</p>
                            <div class="form-box">
                                <p class="input-area">
                                    <input type="number" value="0">만원
                                </p>
                            </div>
                        </div>
                        <div class="lease-price-box">
                            <div class="tit">
                                <div class="form-radio">
                                    <input type="radio" id="leaseWay1" name="leaseWay" value="leaseWay">
                                    <label for="leaseWay1">보증금</label>
                                </div>
                                <div class="form-radio">
                                    <input type="radio" id="leaseWay2" name="leaseWay"  value="leaseWay"> 
                                    <label for="leaseWay2">선수금</label>
                                </div>
                            </div>
                            <div class="form-box">
                                <p class="input-area">
                                    <input type="number" value="0">만원
                                </p>
                            </div>
                        </div>
                        <div class="lease-price-box">
                            <p class="tit">인수비용</p>
                            <div class="form-box">
                                <p class="input-area">
                                    <input type="number" value="0">만원
                                </p>
                            </div>
                        </div>
                        <div class="lease-price-box">
                            <p class="tit">잔존가치</p>
                            <div class="form-box">
                                <p class="input-area">
                                    <input type="number" value="0">만원
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="special-price-car-area none-flex">
                        <p class="tit">리스기간</p>
                        <div class="form-box">
                            <!--230616 수정 : select box 수정-->
                            <!--연도선택-->
                            <select name="years" id="years01">
                                <option value="year01" selected>연도 선택</option>
                                <option value="year02">옵션1</option>
                                <option value="year03">옵션2</option>
                                <option value="year04">옵션3</option>
                            </select>
                            <!-- // 연도선택-->

                            <!--월 선택-->
                            <select name="month" id="month01">
                                <option value="month01" selected>월 선택</option>
                                <option value="month02">옵션1</option>
                                <option value="month03">옵션2</option>
                                <option value="month04">옵션3</option>
                            </select>
                            <!--// 월 선택-->
                            <div class="period"> ~ </div>
                            <!--연도선택-->
                            <select name="years" id="years02">
                                <option value="year01" selected>연도 선택</option>
                                <option value="year02">옵션1</option>
                                <option value="year03">옵션2</option>
                                <option value="year04">옵션3</option>
                            </select>
                            <!-- // 연도선택-->

                            <!--월 선택-->
                            <select name="month" id="month02">
                                <option value="month01" selected>월 선택</option>
                                <option value="month02">옵션1</option>
                                <option value="month03">옵션2</option>
                                <option value="month04">옵션3</option>
                            </select>
                            <!--// 월 선택-->
                            <!-- //230616 수정 : select box 수정-->
                        </div>
                    </div>
                    <div class="special-price-car-area none-flex">
                        <p class="tit">잔여 기간<em>(선택)</em></p>
                        <div class="form-box">
                            <!--230616 수정 : select box 수정-->
                            <select name="period" id="period01">
                                <option value="period01" selected>선택</option>
                                <option value="period02">옵션1</option>
                                <option value="period03">옵션2</option>
                                <option value="period04">옵션3</option>
                            </select>
                            <!-- //230616 수정 : select box 수정-->
                            <span class="total-month">/ 총 00 개월</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-btn">
            <button type="button" class="btn-type03 popup-close-btn">취소</button>
            <button type="button" class="btn-type01">확인</button>
        </div>
    </div>
    <div class="popup" id="price-rev05">
        <a href="javascript:;" class="popup-close-btn close-btn">popup close</a>
        <h2 class="popup-title">차량 가격 수정</h2>
        <div class="popup-body">
            <div class="inner pop-scroll">
                <div class="sell-price-txt-ballon noBg">
                    <div class="special-price-car-area none-flex">
                        <p class="tit">리스 구분</p>
                        <div class="form-box">
                            <div class="form-radio">
                                <input type="radio" id="lease3" name="">
                                <label for="lease3">운용리스</label>
                            </div>
                            <div class="form-radio">
                                <input type="radio" id="lease4"  checked name="">
                                <label for="lease4">금융리스</label>
                            </div>
                        </div>
                    </div>
                    <div class="lease-price-area">
                        <div class="lease-price-box">
                            <p class="tit">월리스료</p>
                            <div class="form-box">
                                <p class="input-area">
                                    <input type="number" value="0">만원
                                </p>
                            </div>
                        </div>
                        <div class="lease-price-box">
                            <div class="tit">
                                보증금
                            </div>
                            <div class="form-box">
                                <p class="input-area">
                                    <input type="number" value="0">만원
                                </p>
                            </div>
                        </div>
                        <div class="lease-price-box">
                            <p class="tit">인수비용</p>
                            <div class="form-box">
                                <p class="input-area">
                                    <input type="number" value="0">만원
                                </p>
                            </div>
                        </div>
                        <div class="lease-price-box">
                            <p class="tit">잔존가치</p>
                            <div class="form-box">
                                <p class="input-area">
                                    <input type="number" value="0">만원
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="special-price-car-area none-flex">
                        <p class="tit">리스기간</p>
                        <div class="form-box">
                            <!--230616 수정 : select box 수정-->
                            <!--연도선택-->
                            <select name="years" id="years03">
                                <option value="year01" selected>연도 선택</option>
                                <option value="year02">옵션1</option>
                                <option value="year03">옵션2</option>
                                <option value="year04">옵션3</option>
                            </select>
                            <!-- // 연도선택-->

                            <!--월 선택-->
                            <select name="month" id="month03">
                                <option value="month01" selected>월 선택</option>
                                <option value="month02">옵션1</option>
                                <option value="month03">옵션2</option>
                                <option value="month04">옵션3</option>
                            </select>
                            <!--// 월 선택-->
                            <div class="period"> ~ </div>
                            <!--연도선택-->
                            <select name="years" id="years04">
                                <option value="year01" selected>연도 선택</option>
                                <option value="year02">옵션1</option>
                                <option value="year03">옵션2</option>
                                <option value="year04">옵션3</option>
                            </select>
                            <!-- // 연도선택-->

                            <!--월 선택-->
                            <select name="month" id="month04">
                                <option value="month01" selected>월 선택</option>
                                <option value="month02">옵션1</option>
                                <option value="month03">옵션2</option>
                                <option value="month04">옵션3</option>
                            </select>
                            <!--// 월 선택-->
                            <!-- //230616 수정 : select box 수정-->
                        </div>
                    </div>
                    <div class="special-price-car-area none-flex">
                        <p class="tit">잔여 기간<em>(선택)</em></p>
                        <div class="form-box">
                            <!--230616 수정 : select box 수정-->
                            <select name="period" id="period02">
                                <option value="period01" selected>선택</option>
                                <option value="period02">옵션1</option>
                                <option value="period03">옵션2</option>
                                <option value="period04">옵션3</option>
                            </select>
                            <!-- //230616 수정 : select box 수정-->
                            <span class="total-month">/ 총 00 개월</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-btn">
            <button type="button" class="btn-type03 popup-close-btn">취소</button>
            <button type="button" class="btn-type01">확인</button>
        </div>
    </div>
    <div class="confirm-popup" id="special-confirmPopup">
        <div class="popup sm">
            <div class="confirm-popup-bg"></div>
            <div class="popup-body tac">
                <div class="inner">
                    특가차량 신청 시 이전 판매금액을<br> 기준으로 신청이 진행됩니다. <br>특가차량을 신청하시겠습니까?
                </div>
            </div>
            <div class="popup-btn">
                <button type="button" class="btn-type03 popup-close-btn">취소</button>
                <button type="button" class="btn-type01 popup-confirm-btn">확인</button>
            </div>
        </div>
    </div>
    <div class="confirm-popup" id="special-confirmPopup2">
        <div class="popup sm">
            <div class="confirm-popup-bg"></div>
            <div class="popup-body tac">
                <div class="inner">
                    특가차량 가격 수정 시<br>관리자 승인 후 가격이 변동됩니다.
                    <ul class="dot-txt">
                        <li>
                            시세에서 벗어날 경우 승인이 취소됩니다.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="popup-btn">
                <button type="button" class="btn-type03 popup-close-btn">취소</button>
                <button type="button" class="btn-type01 popup-confirm-btn">확인</button>
            </div>
        </div>
    </div>
    
    <!--230704 수정 : js 추가-->
    <!-- [Start] 페이지 전용 js -->
    <script type="text/javascript">
        ;(function ($, win, doc, undefined) {
            const specialPriceCheckBox = $('.special-price-check input');
            const sellPrice = $('.sell-price-area .input-area');
            const confirmPopup = $('#special-confirmPopup');
            const confirmPopup2 = $('#special-confirmPopup2');
            const specialCancelBtn = sellPrice.next('.btn-type02');
            const fixedBtn = $('.fixed-btn');

            specialPriceCheckBox.click(function(){
                const _this = $(this);
                const specialInput = _this.parent().next().find('.input-area');
                const sellInput = _this.parent().prev().find('.input-area');
                confirmPopup.show(0,function(){
                    $(this).find('.popup-close-btn').click(function(){
                        $('.popup-bg').show();
                        $(this).parents('.confirm-popup').hide();
                        $('html').css('overflow','auto');
                        _this.prop("checked",false);
                        specialInput.addClass('disabled');
                        specialInput.find('input').attr('disabled', true);
                        sellInput.removeClass('disabled');
                        sellInput.find('input').attr('disabled', false);
                    })
                    $(this).find('.popup-confirm-btn').click(function(){
                        $(this).parents('.confirm-popup').remove();
                        _this.prop("checked",true);
                        specialInput.removeClass('disabled');
                        specialInput.find('input').attr('disabled', false);
                        sellInput.addClass('disabled');
                        sellInput.find('input').attr('disabled', true);
                    });
                });
                
            });

            specialPriceCheckBox.change(function(){
                if($(this).is(':checked')){
                    $(this).prop('checked', true);
                    $(this).parent().next().find('.input-area').removeClass('disabled');
                    $(this).parent().next().find('.input-area').find('input').attr('disabled',false);
                    $(this).parent().prev().find('.input-area').addClass('disabled');
                    $(this).parent().prev().find('.input-area').find('input').attr('disabled',true);
                }else{
                    $(this).prop('checked', false);
                    $(this).parent().prev().find('.input-area').removeClass('disabled');
                    $(this).parent().prev().find('.input-area').find('input').attr('disabled',false);
                    $(this).parent().next().find('.input-area').addClass('disabled');
                    $(this).parent().next().find('.input-area').find('input').attr('disabled',true);
                }
            });
        
            specialCancelBtn.click(function(){
                alert('특가차량을 취소하시겠습니까?');
            });

            fixedBtn.click(function(){
                const specialPriceValue = $(this).parents('.popup').find('.sell-price-txt-ballon .input-area input').val();
                const sellPriceValue = $(this).parents('.popup').find('.sell-price-area .input-area input').val();
                const popup = $(this).parents('.popup');
                if(specialPriceValue > sellPriceValue){
                    alert('특가차량은 판매원가보다 높은 가격으로 변경할 수 없습니다.');
                }else{
                    confirmPopup2.show(0,function(){
                        $(this).find('.popup-close-btn').click(function(){
                            $('.popup-bg').show();
                            $('html').css('overflow','auto');
                            $(this).parents('.confirm-popup').hide();
                        });
                        $(this).find('.popup-confirm-btn').click(function(){
                            $(this).parents('.confirm-popup').hide();
                            popup.hide();
                            $('.popup-bg').hide();
                        })
                    });

                }
            });
        
        })(jQuery, window, document);
    </script>
    <!-- // [End] 페이지 전용 js -->
    <!-- // 230704 수정 : js 추가-->
</body>
</html>
