<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    
    <title>KB차차차</title>

    <link rel="stylesheet" href="/UIDev/vendor/jquery-ui/v1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="/UIDev/vendor/jquery.mCustomScrollbar/v3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/UIDev/v3/css/style.min.css"> <!-- [D] style.min.css 가 css 중 가장 밑에 위치 -->

    <script type="text/javascript" src="/UIDev/vendor/jquery/v1.12.4/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/UIDev/vendor/jquery-ui/v1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/UIDev/vendor/form/v3.5.1/jquery.form.js"></script>
    <script type="text/javascript" src="/UIDev/vendor/select2/v4.0.2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="/UIDev/vendor/jquery.mCustomScrollbar/v3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/UIDev/v3/js/ui-common.min.js"></script> <!-- [D] ui-common.min.js 가 js 중 가장 밑에 위치 -->

</head>

<body class="only-pub"> <!-- [D] 개발 시에는 only-pub 클래스 제거 -->
    <button type="button" class="btn-type01 sm pop-btn-js" data-target="#popup01">잠깐! 놓치고 있는 옵션이 있다면?</button>

    <!--popup-->
    <div class="popup-bg" style="display:block"></div>
    <div class="popup sm" id="popup01" style="display:block">
        <h2 class="popup-title tit-ty1 gap-ty">잠깐! 놓치고 있는 옵션이 있다면?</h2>
        <div class="popup-body">
            <!--// 스크롤 필요시 inner에 .pop-scroll 추가-->
            <div class="inner">
                <div class="box-gray tac">
                    <p class="box-gray-tit">차차차가 아래와 같이 알려드려요.</p>
                    <p class="box-txt-ty1"><span class="point-push">가죽시트</span></p>
                    <ul class="txt-list display-inline-block">
                        <li><span class="dot"></span>실제 있는 옵션인지 확인 후 체크해주세요.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="popup-btn">
            <button type="button" class="btn-type01 popup-close-btn">확인</button>
        </div>
    </div>
    
</body>
</html>
