<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    
    <title>KB차차차</title>

    <link type="text/css" rel="stylesheet" href="/UIDev/v3/css/style.min.css">
    <link rel="stylesheet" href="/UIDev/v3/js/lib/jquery-ui.min.css">
    <link rel="stylesheet" href="/UIDev/v3/js/lib/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript" src="/UIDev/v3/js/lib/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="/UIDev/v3/js/lib/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/UIDev/v3/js/ui-common.min.js"></script>

</head>

<body class="only-pub"> <!-- [D] 개발 시에는 only-pub 클래스 제거 -->
    <main class="body-area" id="wrap">

        <header class="header-area"></header> <!-- common header-->

        <!-- [Start] main-area -->
        <section class="main-area">
            <div class="section-area">
                <div class="section-area-grid-full">
                    
                </div>
            </div>
            <!-- [Start] 페이지 전용 js -->
            <script type="text/javascript">
                ;(function ($, win, doc, undefined) {

                })(jQuery, window, document);
            </script>
            <!-- // [End] 페이지 전용 js -->

        </section>
        <!-- // [End] main-area -->

        <footer class="footer-area"></footer> <!-- common footer -->
    </main>
</body>
</html>
