<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    
    <title>KB차차차</title>

    <link rel="stylesheet" href="/UIDev/vendor/jquery-ui/v1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="/UIDev/vendor/jquery.mCustomScrollbar/v3.1.5/jquery.mCustomScrollbar.min.css">
    <!--230616 수정 : css 추가-->
    <link rel="stylesheet" href="/UIDev/vendor/select2/v4.0.2/css/select2.min.css.css" />
    <!-- //230616 수정 : css 추가-->
    <link rel="stylesheet" href="/UIDev/v3/css/style.min.css"> <!-- [D] style.min.css 가 css 중 가장 밑에 위치 -->

    <script type="text/javascript" src="/UIDev/vendor/jquery/v1.12.4/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/UIDev/vendor/jquery-ui/v1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/UIDev/vendor/form/v3.5.1/jquery.form.js"></script>
    <script type="text/javascript" src="/UIDev/vendor/select2/v4.0.2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="/UIDev/vendor/jquery.mCustomScrollbar/v3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/UIDev/v3/js/ui-common.min.js"></script> <!-- [D] ui-common.min.js 가 js 중 가장 밑에 위치 -->

</head>

<body class="only-pub"> <!-- [D] 개발 시에는 only-pub 클래스 제거 -->
    <main class="body-area" id="wrap">

        <header class="header-area"></header> <!-- common header-->

        <!-- [Start] main-area -->
        <section class="main-area">
            <div class="section-area">
                <!-- dealer sell lnb-->
                <div class="lnb dealer-sell01-lnb">
                </div>
                <!-- // dealer sell lnb-->
                <div class="section-area-grid">
                    <div class="title-area">
                        <h2 class="title">
                            <span>광고중</span><!--// 230704 수정 :  총대수 삭제 -->
                        </h2>
                        <button type="button" class="btn-type03">설명글 관리</button>
                    </div>

                    <div class="section-area-cont">
                        <div class="car-search-area">
                            <!--230616 수정 : select box 수정-->
                            <div class="car-search-area-option-box">
                                <div class="tit">제조사</div>
                                <div class="con">
                                    <select name="company" id="sel01">
                                        <option value="company01" selected></option>
                                        <option value="company02">제조사1</option>
                                        <option value="company03">제조사2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="car-search-area-option-box">
                                <div class="tit">
                                    모델
                                </div>
                                <div class="con">
                                    <select name="model" id="sel02">
                                        <option value="model01" selected></option>
                                        <option value="model02">모델1</option>
                                        <option value="model03">모델2</option>
                                    </select>
                                </div>
                            </div>
                            <!-- //230616 수정 : select box 수정-->
                            <div class="car-search-area-option-box">
                                <div class="tit">등록일</div>
                                <div class="con">
                                    <span class="input-date">
                                        <input type="text" title="날짜">
                                    </span>
                                    <span>~</span>
                                    <span class="input-date">
                                        <input type="text" title="날짜">
                                    </span>
                                </div>
                            </div>
                            <div class="car-search-area-option-box">
                                <div class="tit">차량번호</div>
                                <div class="con">
                                    <input type="text" class="carnum-input">
                                    <button type="button" class="btn-type01">조회</button>
                                </div>
                            </div>
                        </div>
                        <div class="car-search-result-area">
                            <div class="car-search-result-mode-area justify-end">
                                <div class="car-search-result-mode-area-box">
                                    <div class="mode-area">
                                        <ul>
                                            <li>
                                                <a href="javascript:;">기본 관리모드</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">가격 점검모드</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="active">옵션 점검모드</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">광고 점검모드</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--230623 수정 : dropbox select2 변경-->
                                    <select name="viewarray" id="viewarray" class="drop-down-box">
                                        <option value="viewarray01" selected>광고등록일 최신순</option>
                                        <option value="viewarray02">업데이트 최신순</option>
                                        <option value="viewarray03">광고기간 오래된순</option>
                                        <option value="viewarray04">광고기간 짧은순</option>
                                        <option value="viewarray05">판매가격 높은순</option>
                                        <option value="viewarray06">판매가격 낮은순</option>
                                    </select>
                                    <!-- //230623 수정 : dropbox select2 변경-->
                                </div>
                            </div>

                            <div class="car-search-result-table">
                                <table>
                                    <caption>내차관리 광고중 차 내역</caption>
                                    <colgroup>
                                        <col style="width:auto">
                                        <col style="width: 22rem;">
                                        <col style="width: 21rem;">
                                        <col style="width: 12rem;">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="javascript:;" class="car-info">
                                                    <div class="thumb-img">
                                                        <img src="/UIDev/v3/images/temp/@thumb-car1.jpg" alt="차 이미지">
                                                        <span class="car-info-num">123부6077</span>
                                                    </div>
                                                    <div class="car-info-detail wid-ty-normal">
                                                        <div class="tag">
                                                            <span>실차주</span>
                                                            <span>연동광고</span>
                                                            <span>진단</span>
                                                        </div>
                                                        <h3 class="car-name">페라리 F8 Tributo 3.9 V8 페라리 F8 Tributo 3.9 V8 페라리 F8 Tributo 3.9 V8</h3>
                                                        <p class="car-etc">
                                                            <span>20년 07월(20년형)</span>
                                                            <span>7,831km</span>
                                                            <span>가솔린</span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </td>
                                            <td>
                                                <div class="gap80">
                                                    <p class="pre-price">
                                                        40,000만원
                                                    </p>
                                                    <p class="price">
                                                        <strong>38,000</strong> 만원
                                                    </p>
                                                </div>
                                            </td>
                                            <td>
                                                <dl class="option-info">
                                                    <dt>옵션 상태</dt>
                                                    <dd>점검필요</dd>
                                                    <dt>미선택 추천 옵션</dt>
                                                    <dd>10개</dd>
                                                </dl>
                                            </td>
                                            <td class="tal">
                                                <button type="button" class="btn-type01 sm">옵션수정</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="javascript:;" class="car-info">
                                                    <div class="thumb-img">
                                                        <img src="/UIDev/v3/images/temp/@thumb-car1.jpg" alt="차 이미지">
                                                        <span class="car-info-num">123부6077</span>
                                                    </div>
                                                    <div class="car-info-detail wid-ty-normal">
                                                        <div class="tag">
                                                            <span>실차주</span>
                                                            <span>연동광고</span>
                                                            <span>진단</span>
                                                        </div>
                                                        <h3 class="car-name">페라리 F8 Tributo 3.9 V8</h3>
                                                        <p class="car-etc">
                                                            <span>20년 07월(20년형)</span>
                                                            <span>7,831km</span>
                                                            <span>가솔린</span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </td>
                                            <td>
                                                <div class="gap80">
                                                    <p class="price">
                                                        <strong>리스승계</strong>
                                                    </p>
                                                    <p class="price small">
                                                        월 <span>98</span>만원
                                                    </p>
                                                </div>
                                            </td>
                                            <td>
                                                <dl class="option-info">
                                                    <dt>옵션 상태</dt>
                                                    <dd>점검필요</dd>
                                                    <dt>미선택 추천 옵션</dt>
                                                    <dd>10개</dd>
                                                </dl>
                                            </td>
                                            <td class="tal">
                                                <button type="button" class="btn-type01 sm">옵션수정</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="javascript:;" class="car-info">
                                                    <div class="thumb-img">
                                                        <img src="/UIDev/v3/images/temp/@thumb-car1.jpg" alt="차 이미지">
                                                        <span class="car-info-num">123부6077</span>
                                                    </div>
                                                    <div class="car-info-detail wid-ty-normal">
                                                        <div class="tag">
                                                            <span>실차주</span>
                                                            <span>연동광고</span>
                                                            <span>진단</span>
                                                        </div>
                                                        <h3 class="car-name">페라리 F8 Tributo 3.9 V8</h3>
                                                        <p class="car-etc">
                                                            <span>20년 07월(20년형)</span>
                                                            <span>7,831km</span>
                                                            <span>가솔린</span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </td>
                                            <td>
                                                <div class="gap80">
                                                    <p class="pre-price">
                                                        40,000만원
                                                    </p>
                                                    <p class="price">
                                                        <strong>38,000</strong> 만원
                                                    </p>
                                                </div>
                                            </td>
                                            <td>
                                                <dl class="option-info">
                                                    <dt>옵션 상태</dt>
                                                    <dd>점검완료</dd>
                                                    <dt>미선택 추천 옵션</dt>
                                                    <dd>0개</dd>
                                                </dl>
                                            </td>
                                            <td class="tal">
                                                <button type="button" class="btn-type01 sm">옵션수정</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="paginate">
                                    <a href="#" class="prev">이전페이지</a>
                                    <a href="#">1</a>
                                    <strong><span>2</span></strong>
                                    <a href="#">3</a>
                                    <a href="#">4</a>
                                    <a href="#">5</a>
                                    <a href="#" class="next">다음페이지</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--wing banner-->
                <div class="wing-banner">
                </div>
                <!--// wing banner-->
            </div>
            <!-- [Start] 페이지 전용 js -->
            <script type="text/javascript">
                ;(function ($, win, doc, undefined) {
                    // do something...
                })(jQuery, window, document);
            </script>
            <!-- // [End] 페이지 전용 js -->

        </section>
        <!-- // [End] main-area -->

        <footer class="footer-area"></footer> <!-- common footer -->
    </main>
<!--230620 추가-->
<!--팝업-->
<div class="popup-bg"></div>
<div class="popup all-menu-popup" id="all-menu-pop">
    <h3 class="title">
        <div class="wrapper">
            전체서비스
            <a href="javascript:;" class="popup-close-btn">x</a>
        </div>
    </h3>
    <div class="pop-body all-menu-pop-body">
        
    </div>
</div>
<!-- //230620 추가-->
</body>
</html>